[2018-07-24 07:20] dww100 opened #1 "Define the UQP JSON format and input to wrappers"
I have adapted the gauss_json wrapper to use one run cut from the multi-run UQP output - there are probably better ways. For example take the full multi-run JSON + run_name.

We should decide how we want this done early.

[2018-07-30 13:33] raar1 opened #2 "Ideas for the input file"
A few ideas that came out of recent discussions I had with @djgroen and @dww100:

1.  The input file should only contain application parameters (i.e. "__wrapper" type variables should be elsewhere. However, this may be fixed by creating a "header" and "params" section in that file.
2.  @djgroen would prefer yaml instead of JSON. @dww100 has expressed a similar preference in the past therefore, in

[2018-09-05 09:49] dww100 opened #4 "Local running is horrible - need a better way (or remove entirely)"
The title more or less says it all - currently we just write `run_cmd` from the JSON to file (with some parsing to ensure that the path is absolute). This will die in many situations and doesn't even work for:
`python3 myscript.py input_file`.

[2018-09-05 10:28] #1 closed, assigned to raar1, dww100

[2018-09-05 10:57] dww100 opened #5 "Need to create a user config file for adding encoders"
Maybe using something like appdirs: https://pypi.org/project/appdirs/

[2018-09-05 13:07] dww100 opened #6 "Extending Campaigns and using multiple Campaigns in a UQP"
I was originally thinking of two things:

1. Need to add more runs to enhance sampling (i.e. more replicas to get converged result)
2. Might want to use different applications in a UQP that use different encoders

Could also have a situation where I run `Campaign A` and then `Campaign B` to sample different parameters but I now want to combine in a single analysis.

This also gets me wondering abo

[2018-09-05 13:48] dww100 opened #7 "License - did we pick one?"
If yes - let's add it now, if no lets pick one and then add it now.

After that I think we can make the repo public. Do you agree?

[2018-09-05 14:02] dww100 opened #8 "We need to sort out packaging so that this gets installed usefully"
Issues to attend to:

* Requirements
* Ensure all JSON files transferred correctly
* Compile cannonball test code
* What do we need to have in a conda channel?

[2018-09-06 08:12] dww100 opened #10 "Run results checking and run extension"
Need a way of:
* Not re-running analysis on some runs using some sort of lock in the UQPs
* Deleting the lock if add to the sampling/extend a run
   *  This obviously means we need a way of extending the runs

[2018-09-06 08:14] dww100 opened #11 "Shared files for Campaigns"
We should have a mechanism of specifying resources (files) needed by all runs in a Campaign (I'm thinking of calling them 'fixtures'). Example:
Running MD simulations with the same initial structure and topology but different cutoffs.

[2018-09-06 16:14] #7 closed, assigned to raar1, dww100

[2018-09-07 10:24] raar1 opened #15 "Readers return type is unchecked"
At present, an easyvvuq reader will return a list (multidimensional, numpy, if desired).

This returned list is used as the direct input to the analysis UQPs, but there is no checking of it whatsoever. If a user configures their reader slightly wrong, they'll most likely get incomprehensible python errors that won't help them fix it.

I'm thinking that instead of a list, we should return an object

[2018-09-07 10:28] raar1 opened #16 "Visualisation of results"
One of the major primitives currently completely absent from this prototype is any kind of visualisation of the results.

I've found this python library which is built on matplotlib:
https://seaborn.pydata.org/

Seems to do nice visualisations of data. Might be worth looking into.

[2018-09-11 08:42] dww100 opened #18 "Pandas and analysis as bridge between UQPs and (multiple) Campaigns"
I was playing with the idea of aggregating the results of Campaigns via UQPs and pandas. I've created a new branch [pandas_start](https://github.com/UCL-CCS/EasyVVUQ/tree/pandas_start) which currently only really adds a `to_dataframe` method to a Campaign and `pandas` to the installation requirements.

Doing so bought a couple of things to light which we could/should think about:
1. We need to be

[2018-09-12 16:44] #18 closed, assigned to raar1, dww100

[2018-09-12 16:48] #8 closed, assigned to raar1, dww100

[2018-09-28 15:56] dww100 commented on #10
Completion flag and decoders design has removed/changed this issue so I'm going to close this.

[2018-09-28 15:56] #10 closed

[2018-10-01 22:04] dww100 opened #20 "Priority inclusions and checks for a v0.1 release"
1. Fixtures/file associations: Need a way to deal with common (to multiple runs i.e. #11) and large files.
2. A very simple  VVP - to allow testing only
3. Some tests
4. Categorical variables
5. ~Decide on where aggregation code should be (currently an analysis UQP)~
6. Fix issues:
    -  ~#24~
    -  ~#25~

[2018-10-02 08:27] dww100 opened #21 "Targets for v0.2"
* Documentation on basic usage
* CI
* Tools to pick up existing datasets

[2018-10-02 08:28] dww100 commented on #21
Note: This all assumes acceptance of #19

[2018-10-02 08:28] dww100 commented on #20
Note: This assumes acceptance of #19

[2018-10-02 08:32] dww100 opened #22 "Targets for v0.3"
* Allow extension of existing runs
* Versioning of outputs
* Combining of campaigns
* More complex/realistic encoders/decoders
  *  Ideally from outside collaborators
* Tools to pick up existing datasets

[2018-10-02 08:37] dww100 opened #23 "Planning"
My idea is to setup three project boards with milestones associated based on 3 point releases aiming to create a version of EasyVVUQ for dissemination and external user testing. To that end I have created three issues for versions 0.1 (#20), 0.2 (#21) and 0.3 (#22).

The idea being we should agree on the targets for each version and then work towards creating and testing them. We should also aim t

[2018-10-02 08:51] dww100 commented on #23
**Testing**
I've had recommended the following packages:
1. Pytest (https://docs.pytest.org/en/latest/)
2. Behave (https://behave.readthedocs.io/en/latest/)
3. Hypothesis (https://hypothesis.readthedocs.io/en/latest/)

Any thoughts?

[2018-10-02 09:49] djgroen commented on #23
@dww100 We are using Pytest with FabSim3, so using that will make it easier for VECMA members to switch development effort between the two tools.

[2018-10-02 09:51] djgroen commented on #23
@dww100 In terms of release dates, perhaps we can synchronize them with the core preliminary release dates, which occur every three months? The last one was a few days ago, and the next one would be around the end of January.

Would that schedule make sense? Then we can introduce EasyVVUQ as part of the next VECMAtk release, and ask current Alpha users to also perform tests on that toolkit.

[2018-10-02 14:59] dww100 commented on #23
@djgroen I think we should definitely aim to sync a version to that release schedule but these should happen in the next month or so. The goal (from my end at least) is that v0.1 is the minimal viable product - with a more or less stable design to the key elements - the Campaign and base classes for UQPs and VVPs. That should mean we have pretty well established 'contracts' to allow it to be plugg

[2018-10-03 07:28] djgroen commented on #23
@dww100 Would it be feasible to have v0.1 ready by October 17th, so that we can discuss and work towards integrating that part with FabSim3 during the VECMAtk meeting?

You could then aim for another release in late November, which would allow my new VECMA post doc Hamid to test it out (he starts Dec 1st), and then do a third release during the regular schedule in January?

[2018-10-03 15:39] dww100 commented on #23
@djgroen It is difficult to say. The main issue is that Robin is away for a week and two of the steps to needed for v0.1 are quite large design decisions.

That said the basics of how we intend at least UQPs to work is available in [decoder-design](https://github.com/UCL-CCS/EasyVVUQ/tree/decoder-design) which is ready now, but not approved/checked by Robin.

Once solutions to the issues in v0.1 a

[2018-10-04 12:36] dww100 commented on #23
@djgroen Do you have much experience of using pytest to create functional tests?

I've only ever seen it in terms of unit tests and integration tests. To my mind functional and integration tests are a) more likely to actually get written and b) somewhat easier to understand. What I like about Hypothesis and Behave is that they seem more centred on thinking of the story of use cases - the sort of t

[2018-10-04 12:51] djgroen commented on #23
@dww100 I know it is supported in Pytest, but I don't have direct experience with it. Vytautas Jancauskas would be the person to ask about that :).

In FabSim3 the difference between unit tests and functional tests is quite blurry, as one can be interpreted as the other in a lot of cases.

[2018-10-16 12:57] dww100 commented on #20
On point 5. we should just create an aggregation or collation module on a par with uqps and vvps.

[2018-10-18 13:53] raar1 opened #24 "Allow generic encoder to use a symbol other than $"
The marker character in the text substitution can be $ by default, but we need to be able to set it to something else too. We're currently making EasyVVUQ work with lammps, but the dollar signs in the input script cause problems with generic encoder.

[2018-10-18 13:57] raar1 opened #25 "Add a uniform distribution that produces integers"
Useful for setting e.g. the seed in lammps

[2018-10-19 09:58] dww100 opened #26 "Generic CSV parsing issues (decoder)"
Want to allow user to pass args to pandas reader - original idea of kwargs failed.

[2018-10-19 13:45] raar1 opened #27 "Check that python version is > 3.6"
EasyVVUQ doesn't work  (mainly due to format strings etc) for anything less than 3.6.
The errors are incomprehensible though, and no user would understand why it failed.

[2018-10-19 17:02] #24 closed

[2018-10-19 17:02] #27 closed

[2018-10-19 17:03] #25 closed

[2018-10-19 17:07] raar1 commented on #15
I'm closing this issue now since we've clearly now settled for pandas dataframes (or files for data sets that are too large).

[2018-10-19 17:07] #15 closed

[2018-10-19 17:11] raar1 commented on #5
I think this is now essentially resolved via the "default_app_encoders.json" file

[2018-10-19 17:16] dww100 commented on #5
I think we still need to deal with this - it's for users to add non-standard encoders

[2018-10-25 13:33] dww100 opened #30 "Depth option for fixture path usage"
Idea is if we are in `Run1/stuff/things/` we need a different path to if we are in `Run1/stuff/` when looking for fixtures. Use case is NAMD where the files are looked up relative to the run script and not where the execution is enacted.

[2018-10-26 09:31] mvassaux opened #31 "Create a variable containing the unique ID variable in the campaign class"
Would be interested in having a variable containing the ID of the EasyVVUQ campaign which is used to create the campaign directory. It would avoid to have to extract it from the campaign directory name.

[2018-10-26 09:54] raar1 commented on #31
Sure we can do that, but what are you planning to use it for? The way we currently think of it is that the campaign directory name _is_ the campaign ID. You can change the prefix ("EasyVVUQ_Runs..." or whatever) to something else if you like, but that string is part of the ID of the campaign.

Is there a reason why you can't use the whole ID? Is it because you need to build a sweep directory with

[2018-10-26 10:21] mvassaux commented on #31
I want to reuse that ID in the naming of the fabsim jobs, to check their status easily on the remote machines.

[2018-10-29 11:36] #30 closed

[2018-10-29 12:09] #20 closed

[2018-10-29 16:34] raar1 commented on #31
Implemented in dev branch. Use campaign_ID() to get the run directory name (without path) and campaign_ID(without_prefix=True) to get it without the prefix.

[2018-10-29 16:34] #31 closed

[2018-10-30 13:57] #23 closed

[2018-10-30 13:59] #2 closed

[2018-10-31 09:16] dww100 commented on #21
Created initial project: [https://github.com/UCL-CCS/EasyVVUQ/projects/2](https://github.com/UCL-CCS/EasyVVUQ/projects/2)

[2018-10-31 09:17] dww100 commented on #22
Created initial project: [https://github.com/UCL-CCS/EasyVVUQ/projects/3](https://github.com/UCL-CCS/EasyVVUQ/projects/3)

[2018-10-31 15:49] raar1 commented on #5
OK, I believe I've resolved this issue in my user_encoders branch.

The BaseEncoder and BaseDecoder classes now keep track of any subclasses. Any time a class extends one of these Base classes, that class is automatically registered as an encoder/decoder.

For example, I have added a test that uses a custom encoder and decoder with gauss. The encoder declaration looks like:
`class GaussEncoder(Bas

[2018-10-31 15:51] raar1 commented on #5
(to be clear - these custom encoders and decoders are not in the library, they can be anywhere on the file system)

[2018-10-31 17:03] raar1 commented on #26
I've made sure simple_csv decoder purges all non-pandas keywords from its kwargs before feeding them to pandas.read_csv(). This means you can now pass arbitrary pandas arguments (all those not recognized by simple_csv will be automatically passed on to read_csv. It's now on the dev branch.

I think this fixes the problem - go ahead and reopen if you disagree ;)

[2018-10-31 17:05] raar1 commented on #26
test_cannonsim.py is currently testing this functionality by passing "header=0" in uq.collate.aggregate_samples(), which is then fed through to the decoder (and eventually read_csv())

[2018-10-31 17:05] #26 closed

[2018-11-01 09:38] dww100 commented on #5
This looks great.

If you edit MANIFEST.in to remove the two JSON files then I think it is ready for pulling to dev.

[2018-11-01 11:21] dww100 opened #32 "How to log UQPs/VVPs - inherit from common base classes"
Recent changes to *coders used metaclasses to log their existence. The current logging via a campaign is adhoc and probably problematic if you call the UQP from outside EasyVVUQ.

[2018-11-01 11:22] raar1 opened #33 "add_default_run() method for campaign class"
For the purposes of writing the simplest possible tutorial (e.g. a "helloworld" example) or for a first time test, it would be useful to have an `add_default_run()` method to Campaign. This would add one run only to the run dict, using only the default values for each param. This avoids needing to go into detail on the sampling stuff before people have even run a single job.

[2018-11-01 11:56] #5 closed

[2018-11-01 16:23] dww100 opened #36 "Handling codes which require random seeds"
We may need to template in a random variable - or do we offload this issue to the encoder. It certainly presents an issue for generic encoder.

[2018-11-02 09:55] dww100 commented on #36
My concern is that we need to ensure this is sampled but is not treated as another variable to include in a sweep or other systematic search of phase space (although it would be amusing to see if there were codes where it was a factor).

[2018-11-02 11:52] #11 closed

[2018-11-04 11:35] #33 closed

[2018-11-04 11:40] raar1 commented on #36
OK. I was thinking variables would already be clearly demarcated as "categorical" or "sampling". Maybe we can revisit this when we have a working sweep example, and see what the issues with a random seed might be?

[2018-11-05 14:38] raar1 commented on #4
Based on our discussion the other day, I'm opting more or less for the "remove entirely" option.

By this I mean that:

-  app_info no longer contains a "run_cmd" entry
-  generic_encoder no longer writes the run script (more generally, encoders should not be handling this anyway)
-  For the purposes of local testing, I have of course retained an ExecuteLocal() approach, but the run command is spe

[2018-11-05 14:57] raar1 opened #38 "Prototype VVP"
The more I look at the library structure so far, the more it seems clear that the UQP/VVP distinction is artificial - helpful for the proposal writing, but not necessarily relevant for implementation.

For example, the uqp/ directory contains two sub dirs - sampling and analysis. This would imply that any VVPs we implement would now go into a new top level dir called vvp/. However, I think a lot o

[2018-11-05 15:14] djgroen commented on #32
IMHO The UQPs and VVPs should ideally be portable pieces of implementation. So, I would not normally expect them to  be called from outside EasyVVUQ: rather, I'd expect other developers to involve them directly in their own tools...

[2018-11-05 15:16] djgroen commented on #38
Some validation primitives fit in with UQPs, but I think a fair number of them do not.

I think the relation is likely as follows:
1. VVPs are likely to rely on UQPs for underlying mechanisms.
2. UQPs are *unlikely* to rely on VVPs for underlying mechanisms.

Also, some VVPs are likely to operate on aspects that are not at all covered by any UQPs (e.g. direct coupling intercommunication).

But the

[2018-11-05 15:32] dww100 commented on #32
I think it depends on what you mean (I may have articulated this badly in the opening post). Really what I mean is if the UQP is called with a pandas dataframe or a file as opposed to with a Campaign object as input.

[2018-11-05 17:15] dww100 commented on #36
Thought (may be irrelevant): ensemble sampling copies all variables, so need to ensure that isn't done for seeds.

[2018-11-06 12:07] raar1 commented on #38
Some ideas and discussion points for primitive Base classes:

sampling:
-  Must implement a function in the vein of `add_runs()` (or `generate_runs()`)
-  Function could either take a campaign as its first arg (essentially as it's currently done)
-  OR function behaves like a generator/iterator, and the campaign object adds runs returned by this generator (until exhaustion)
- I prefer something li

[2018-11-06 12:48] raar1 commented on #36
It would, for example, be possible to specify via a kwarg in `vary_param()` that a given parameter should _always_ be resampled. However, that would require pretty much every relevant function to honour that request, so isn't particularly safe (in a defensive programming sense).

It does seem odd to me though that you would want to copy all the (randomly sampled) parameter values _except_ the seed

[2018-11-06 13:30] dww100 commented on #38
I think that sounds pretty good

My only question is how to tie the Sampling UQPs back to the `Campaign` in terms of adding runs in this new paradigm. Or do you envision something like in the script which says something like:
[code]

where `uqp.add_run` is a generator?

[2018-11-06 14:11] raar1 commented on #38
That's exactly what I was thinking of. That way the campaign does the adding to its own list, and any checks etc are all done within campaign.

[2018-11-06 14:15] dww100 commented on #38
The issue then becomes logging the UQP used in the `Campaign`, assuming we still want to do that (I like the idea but it could become a real pain).

[2018-11-06 14:20] raar1 commented on #38
Yes. Maybe the base class could mandate implementation of a function that returns standardized information about the UQP, its name, what it does etc. Then the logging would be done by the campaign object through calling this function and storing the return.

[2018-11-06 15:36] dww100 opened #39 "Refactoring Code for v0.1"
Looks like we now have a set of refactoring things which might be best handled prior to v0.1 (such as those arising from #32, #36 & #38). It is worth discussing what we want to do in order to meet goal of mid-month "release" and/or whether a delay is needed in that plan.

[2018-11-06 15:50] dww100 commented on #39
We should make small, contained issues and add them to the project so we can monitor progress.

[2018-11-06 19:16] raar1 commented on #36
OK, that seems decent to me too. Let's maybe return to this when we decide how/if fixtures can basically do categorical variables (elegantly)

[2018-11-06 19:39] raar1 commented on #39
(I'm happy to handle #32/#38, if you handle #36)

[2018-11-06 20:02] raar1 opened #41 "collate/aggregate_samples.py has "ugly hack" TODO"
"# TODO: Improve this ugly hack"

Just adding this as an issue so we don't forget to address (or come to terms with) this fixture related thing. Relates to #39.

[2018-11-06 20:47] raar1 commented on #38
Right, I'm thinking about making a `BasePrimitive` class whose main job will be logging helper stuff for its subclasses (e.g. `BaseSampler`, `BaseAnalysis`, `BaseComparison`).

The question is now: how do we standardise what is logged? And what stuff is general to all primitives, and what is specific?

General to all primitives:
-  The name of the primitive
-  Input type
-  Output type

Or perhaps

[2018-11-07 17:05] #4 closed, assigned to raar1, dww100

[2018-11-08 15:43] dww100 commented on #32
With the new refactoring we discussed tracking:
primitive name/id, version, success, result directory, info

[2018-11-29 15:39] dww100 opened #43 "Get tests to pass in master"
They seem sound in `dev` branch

[2018-12-02 10:52] dww100 opened #45 "Confusion on UQP ->primitives -> elements"
Looking at the submoduel organization:
I thought we had moved from `uqp/analysis/` to `primitives/analysis/` etc. But seems we haven't. Are we now just going to rename `uqp` to `elements` and bring `collate` inside that?

[2018-12-02 21:56] raar1 commented on #45
That's because I haven't merged the primitives/elements stuff in yet. Only what was needed for travis to work (including pep8 changes) has been moved into master.

There are fundamental issues I've discovered while trying to make a `BaseElement` class that we'll need to discuss. In particular this relates to the logging of element application.

Essentially, sampling elements require a campaign obj

[2018-12-03 12:58] dww100 commented on #45
Would some form of queue object (https://docs.python.org/3/library/queue.html) work? In the first instance a Campaign would instigate it's own but have a method to switch to an external one (logging proposed switch).

Might need unique IDs associated with Campaigns.

[2018-12-03 14:36] #43 closed

[2018-12-03 14:41] dww100 opened #47 "Scalable method of run information storage required"
The `Campaign` as currently designed uses dictionaries and files. In particular the number of files may prove a pain for applications with millions of runs.

Solving this will involve some refactoring and feature additions:

- [ ] Abstract the run related functions in `Campaign` (add run etc.)
- [ ] Change state saving to allow run data storage outside the JSON state file
- [ ] Implement a scalabl

[2018-12-04 10:32] raar1 opened #48 "Stochastic collocation (sampling) method from CWI"
Wouter just presented a python class he wrote that does stochastic collocation. It essentially generates a list of runs (sets of params), and then the final analysis once they have run.

As presented, it appears to slot into EasyVVUQ almost instantly, so we should really look at incorporating it quickly if possible. I'll need to speak to him about it first (this afternoon), but he says the code is

[2018-12-04 17:16] raar1 commented on #45
OK, so in the end I found a way to do the logging (at least, a much better way). The campaign object now handles a lot more of the burden.

There is now a `BaseElement`, `BaseSamplingElement` and `BaseAnalysis` architecture. Elements have names, versions and categories ("sampling", "analysis", "comparison" etc).

The biggest change I have made is to (partially) sort out the mess with sampling elem

[2018-12-04 17:43] dww100 commented on #45
Reviewed this now and really like it.

Does the collation need updating to fit in now?

[2018-12-10 12:01] raar1 opened #49 "Elements that act on campaigns, but don't have to"
We need to better formalize the dual application of collation and analysis elements to campaigns/not-campaigns. By this I mean that certain elements can only in principle apply to a campaign object (or the algorithm currently only works with that), whereas others (primarily analysis elements) can use a campaign object, a pandas dataframe, a csv file etc as input.

When a campaign is provided, then

[2018-12-10 12:14] djgroen commented on #49
Perhaps we need to improve the nomenclature, and subcategorize the elements according to their scope of applicability?

[2018-12-10 15:34] #45 closed

[2018-12-10 16:11] raar1 opened #51 "Reminder to implement parameter physical range checking"
The JSON input file has contained "allowed" parameter ranges for some time, but EasyVVUQ doesn't do anything with that yet. The idea is to immediately catch situations in which (input or output) values fall outside physically acceptable ranges (as specified by the user).

[2018-12-10 16:13] raar1 commented on #38
The outcome of this discussion (and more) is effectively covered by #50 merge.

[2018-12-10 16:13] #38 closed

[2018-12-10 16:13] raar1 commented on #32
Addressed by merge #50

[2018-12-10 16:14] #32 closed

[2019-03-14 17:00] #21 closed

[2019-03-15 10:31] dww100 commented on #48
@raar1 @wedeling Is this code or some development of it now incorporated? If so lets close this issue - if not lets make it part of the roadmap for M12 release.

[2019-03-15 10:40] dww100 commented on #47
@orbitfold will work on the initial refactoring and sqlalchemy implementation

[2019-03-15 15:32] raar1 opened #56 "Clean implementation of nodes/weights communication between sampling and analysis elements in PCE/Stoch.Coll."
At present both PCE and Stoch. Coll. approaches don't have anywhere standard to store their nodes and weights info which is needed by the analysis step, and the current hack is to effectively monkey patch the campaign object with those vars during execution of the sampling element.

A possible fix is to add a dedicated __weights variable to every individual run dictionary. By definition this would

[2019-03-15 16:34] #39 closed

[2019-03-15 16:42] raar1 opened #57 "Programmatic way to specify parameter space"
During the hackathon it became apparent that the current way of specifying parameter space (by providing a params dict in the input json file) is problematic for approaches such as @jlakhlili 's PCE case in which a potentially large number of varying parameters may be needed. This can happen e.g. when you need a large vector of parameters.

The most intuitive/logical approach in such cases would b

[2019-03-15 16:49] raar1 opened #58 "A vector of parameters cannot currently be defined in the present json format"
Somewhat related to #57

To allow for a "parameter" which is actually a vector of varying parameters we would have to provide e.g. a "vector" type (currently we have e.g. "Real"). But then what would the "min" and "max" fields mean? They could of course just be the physical range of any one element of the vector, but that might not be appropriate for all cases. Most likely we will simply have that

[2019-03-15 16:58] raar1 opened #59 "Proposal to specify varying parameters directly to sampler rather than in general"
At present, we have a list of params (with default values) and then in the script we designate some of them as varying, setting a prob distribution for them. This may actually cause problems when we have to keep turning them on/off (i.e. varying/non-varying) for a more complex sequence of elements. Some elements can only act on specific distributions, and it will be confusing or ill-defined what t

[2019-03-15 16:59] raar1 opened #60 "Collation/Analysis elements should not be forced to always write the pandas dataframe/log files to disk"
This would cause issues for e.g. Jalal with his millions of runs.

[2019-03-15 17:05] raar1 opened #61 "Transition all EasyVVUQ distributions to chaospy distributions"
We have agreed that having chaospy as a dependency is a very good idea, but now we need to adapt the existing elements so that they all use the chaospy distributions. At present a weird mixture of the old and "new" distros are used.

A potential problem here is that certain types that we want don't exist - e.g. histogram?

[2019-03-15 17:11] djgroen commented on #61
@raar1 I found this:
https://chaospy.readthedocs.io/en/master/distributions/custom.html

I think you can make a custom distribution to reflect a histogram?

[2019-03-15 17:11] djgroen commented on #61
e.g., by subclassing the distribution.

[2019-03-15 17:13] djgroen commented on #48
@dww100 I believe it's part of http://www.github.com/wedeling/FabUQCampaign. See the example there...

[2019-03-15 17:16] djgroen commented on #16
Hi guys. With the M9 release out, perhaps it's a good idea to start a separate activity around this in the next month or two? I still think it may make the most sense to do the viz in a separate tool, which could optionally rely on EasyVVUQ for decoding?

Any thoughts from your side?

[2019-03-15 17:27] raar1 commented on #16
I would agree with this @djgroen. I don't think we want EasyVVUQ to handle vis stuff at all.

[2019-03-15 17:32] raar1 commented on #61
Ah thanks, Derek! I will look into this.

[2019-03-17 14:03] dww100 commented on #16
I think the correct answer is that as part of M12 release we should have good documentation which shows how to create visually appealing and informative graphs from analyses.

[2019-03-17 14:05] dww100 commented on #48
The example references code which I think we merged in the M9 release of EasyVVUQ but I want to be sure that no more code is needed.

[2019-03-19 07:56] wedeling commented on #48
Hi, sorry for the late reply, I'm a bit of a noob with Github issues. Anyway, SC is implemented, but it only works with uniform distirbutions so far. Today I'll start working to integrate my code with chaospy so that we can de SC with all the standard distributions.

[2019-03-19 08:32] wedeling commented on #56
In SC (and I'm pretty sure in PCE as well), each run has a d-dimensional weight array, where d is the number of uncertain parameters. The total weight array that I'm storing in the campaign object is of size Ns x d, where Ns is the number of code runs. So I guess your approach would work.

**Edit**: But now that I think about it, the approach I use above might be a bit of an overkill. The tensor g

[2019-03-19 08:54] dww100 commented on #48
Thanks @wedeling - I don't think we are all figuring out the best way to manage projects in an academic environment. Let me know if you would rather we put questions to you exclusively on Slack or linked to issues there to get your attention/feedback.

[2019-03-19 08:55] dww100 commented on #60
Agree - very much fits in with the general scalability push. Should it be the default?

[2019-03-19 09:29] wedeling commented on #56
OK this seems to work in my case, I've pushed the changes. All I'm ever using now is the `campaign.vars` dictionary, which was already there, I'm not storing any additional variables to the campaign object. The `campaign_vars` is a dict with the **1D** collocation points and weights, which I created in the `distributions.py` module, as before.

When I create a SCSampler object, I'm creating a tens

[2019-03-19 09:31] wedeling commented on #56
btw, you can test this in the `run_SC_campaign.py` module in the tests directory

[2019-03-19 09:37] dww100 commented on #56
I think the best approach here is to create a new branch and then a pull request with [WIP] in the title (for work in progress). Then we can work on this as a specific feature. The basic idea seems good to me.

[2019-03-19 09:46] wedeling commented on #48
Thanks. I like Slack, but I'll also keep an eye out from now on here

[2019-03-19 10:13] jlakhlili commented on #56
I guess, it will be ok also for the PCE method. Indeed the total nodes is an array of dimension n_param*n_runs and the total weights is an array of dimension n_runs.  Reduce the storage for each run will be good. So, I will try to have __weights and __nodes variable to every individual run dictionary  and test the impact on the analysis part.

[2019-03-19 10:19] wedeling commented on #56
OK I've done that. Not sure if I did the pull request right though, some checks have failed

[2019-03-19 10:23] jlakhlili commented on #56
OK Wouter, thanks. I will push and test...

[2019-03-19 10:51] wedeling commented on #61
I have another dumb Github question. When I'm modifying my SC code to include chaospy, shall I do this on the dev branch or on the branch I created for issue 56? My feeling would be the latter since they both concern the weights and collocations points.

[2019-03-19 13:25] raar1 commented on #61
@wedeling I think it's completely fine to use the same branch as for #56

[2019-03-19 13:26] raar1 commented on #60
I think so - it's easy to add a flag to the init for an analysis element that does this.

[2019-03-19 13:39] wedeling commented on #61
Ok thanks, I'll do it in that one

[2019-03-20 13:37] raar1 commented on #56
I checked which tests are failing, and it's only the pep8 stuff. I'm wondering whether we could tone that down a little or make it a non-critical check. Once you're happy with your changes, I can run it through autopep8 or something anyway, if you like.

[2019-03-20 13:38] raar1 commented on #60
OK, I've assigned this to myself

[2019-03-20 14:08] dww100 commented on #56
Docs on how to tone down the tests:
https://pypi.org/project/pytest-pep8/
https://pep8.readthedocs.io/en/latest/intro.html#error-codes

[2019-03-21 11:13] raar1 commented on #60
Could have a STORE flag for the whole campaign object (by default true), with optional STORE flag in the apply() method of elements, that will override this default.

[2019-03-21 11:33] raar1 opened #63 "Should the camapign object be reimagined as a (sort of) finite state machine?"
Currently a sampling element, for example, will be created in the user's python script, and then will dump its generated runs into the campaign object. So in this case, the campaign is just a repository for runs, with extra logging capabilities.

This approach is problematic for cases with a very large number of samples (such as Jalal's case, with > 10^6 runs). In such cases, we only want to gener

[2019-03-21 13:49] dww100 commented on #63
In principle I like this idea a lot.

What does the new database look like?

[2019-03-21 15:04] raar1 commented on #63
My idea is that the database will have a new, single slot for storing the element that is currently being applied.

So when you do ```my_campaign.set_element(PCESampler())``` then ```Campaign.current_element``` is set to the newly created ```PCESampler``` instance. And since all elements will be forced to implement a ```.serialize()``` function (or equivalent), then whenever the campaign saves its

[2019-03-21 15:38] raar1 commented on #58
Also modify ```vary_param()``` implementation so that it can handle a joint distribution of size N (and then check that N is the same as the length of the vector)

[2019-03-22 08:44] raar1 commented on #22
I've added a bunch of recent issues to the v0.3 Project section.

[2019-03-25 14:01] raar1 opened #64 "Allow no encoder to be specified (run var info passed to user defined execution function)"
In the case of @jlakhlili we currently have a small input file being generated for each run. This file is immediately read by the fortran code, and contains information that could in fact have been passed via commandline arguments. In the case of 1e6 runs, this is an unnecessary overhead.

I propose that the user defined execution function be also passed the same information as the encoder functio

[2019-03-28 08:48] wedeling commented on #56
I moved my SC code to chaospy on the issue_56 branch. The script in tests/SC_easyvvuq/run_SC_Campaign.py contains an example test case. I still do not store anything in the Campaign object, and now use chaospy to compute nodes and weights from campaign.vars  when needed. Before, campaign.vars just contained all 1D nodes and weights, now it contains 1D chaospy distributions. Before, the polynomial

[2019-03-29 13:24] dww100 opened #66 "We should have sensible logging for all elements"
Eventually this should me standard Python logging - allowing warnings, info etc - and the more long term element execution order (now being moved into the campaign database). We can't know how workflows are going to be implemented so messages should be provided that give as much context as possible (albeit we cannot rely on having execution level information like node ID, etc).

Identified issues

[2019-03-29 13:31] raar1 opened #67 "Campaign object should have __version__ and check against database"
The Campaign object should have something along the lines of ```get_version()``` (or a ```__version__``` member var). This could simply be the current version of EasyVVUQ. This version would also be stored in database to indicate what version created it. That way if a user attempts to continue a campaign using a newer version of EasyVVUQ it will (at the very least) issue a warning along the lines

[2019-03-29 13:40] raar1 commented on #63
Based on discussions with @dww100 (and on the work of @orbitfold with the DB backend) I think the base element definition will now have three extra functions:

```serialize()```, ```deserialize()``` and ```is_restartable()```

The first two are to be used to store the (current) state of the element in the database, and to restart  from that stored state if needed. is_restartable() will return a bo

[2019-03-29 14:21] dww100 commented on #63
Should `is_restartable` be a function or an attribute?

[2019-03-29 15:03] raar1 commented on #63
I was hoping to put it in the element base.py as e.g.

`
defis_restartable(self):
    raise NotImplementedError
`

so anyone making a new element is forced to make it return something. I'm not sure how to enforce that if it's just a variable with (presumably) default value.

[2019-03-29 16:25] dww100 commented on #63
My feeling is that by default it should just be `is_restartable = False`. The assumption being that if you are implementing a one short sampler that you would know what you are doing.

[2019-03-29 17:47] jlakhlili commented on #56
I removed the nodes/weights from Campaign. To stores informations about the PCE element.
            - Multivariate distribution
            - The orthogonal polynomials P
            - The quadrature informations: order, rule and sparsity
            - Number of samples

[2019-03-29 18:23] jlakhlili commented on #56
In PCESampler, the nodes/weights are no longer attached  to the Campaign object. I compute them again in analysis. For information, I did a memory profiling for cp.generate_quadrature call to get 1.7 millions nodes and weights (the worst case that we will have), the result is OK. We need 122.4MB (cf. attached image). This routine will be called just twice during the UQ program.
Otherwise, I still

[2019-04-02 16:05] raar1 commented on #63
OK, that's fine by me. But either way we should probably make it consistent with the way versions are handled for elements currently.

[2019-04-02 16:11] raar1 commented on #56
@jlakhlili OK that looks good. As per #63 I am planning to have the current element (sampling, analysis or otherwise) state stored as part of the campaign object. This is to allow restarts.

In light of this it would be best now maybe to try storing all this stuff within the sampling element. Each element will have a ```serialize()``` function (or something with a similar name) that will allow its

[2019-04-02 16:13] raar1 commented on #56
Hopefully in the end this could look similar for @wedeling 's implementation of SC.

[2019-04-02 16:33] raar1 commented on #49
This type of discussion is now being handled in #63

[2019-04-02 16:33] #49 closed

[2019-04-03 09:48] dww100 opened #69 "Support distributions not in Chaospy"
The two cases we have identified so far are:
- [x] Custom distribution from histogram
- [x] Discrete distribution (`uniform_integer`) which we need, for example, to make random seeds

[2019-04-03 09:51] dww100 commented on #61
Basic distributions converted, issue #69 raised for remaining more complex cases.

[2019-04-03 09:51] #61 closed

[2019-04-03 09:52] dww100 commented on #69
@djgroen Suggested developing from here:
https://chaospy.readthedocs.io/en/master/distributions/custom.html

[2019-04-03 10:34] raar1 opened #70 "Support for gradual collation"
As part of the scalability push, and also with the PJM work, we must now expect two things:

- Runs will be executed in batches (e.g. 100 at a time) and not all at once
- There may be so many runs that it is not viable to store all their output on disk at the same time

This obviously conflicts with the way aggregation is currently done, which expects all run output to be present, and decodes it a

[2019-04-03 10:41] raar1 commented on #70
As an afterthought:

The deletion of output files could be carried out by the decoder itself. So, after every execution terminates, the decoder is automatically run. It then writes its distilled output to a small file (or to the database, somehow) and the rest of the output can be deleted. The collation element could then fetch this decoder output during aggregation steps.

Of course, this deletio

[2019-04-03 11:47] wedeling commented on #70
I think this would be a useful feature. I have a fancy adaptive collocation method lying around, which I was thinking of proposing to include. Something like this would be great for that.

[2019-04-03 13:11] jlakhlili commented on #64
I did some tests in the case of 1e6 runs using NML files for the generated inputs for each run.
- To store the 8 uncertain parameter values, I need just 360 MB for all NML files. I think that it is fine. I can still use this kind of inputs for the Encoder.
- The problem is in the output. the Fortran code generate the CSV files to store quantity of  interests values. For example, the CSV files need

[2019-04-03 13:31] raar1 commented on #64
Thanks Jalal, just to clarify - every run of the 1D model could produce a CSV file of 4.6GB? So e.g. 1e6 runs of 4.6GB files? You say these are output but are processed by the encoder - did you mean decoder? Or is this a scale bridging step we're talking about here? (such as files going to CHEASE)

[2019-04-03 14:13] jlakhlili commented on #69
Another case :

- [ ] Reformulated distribution from dependent random variables.

I already had gathered some documentations about transformations to uncorrelated standard variables [eg.: 1, 2].  We will need it, because one of the underlying assumptions when expanding  polynomial chaos and stochastic collocation is that the model parameters are independents, So, we have to create reformulated dis

[2019-04-03 15:01] jlakhlili commented on #64
No, every run of 1D model could produce a CSV file of 3KB to 5KB (depending of the number of the quantities  of interests). So, 4.6GB is the total size of the 1e6 CSV files. Yes,  these are output processed by the decoder (it was a mistake in my text).  They are used by PCEAnalysis to create data_src.

[2019-04-03 15:20] raar1 commented on #69
I suggest we add these custom implementations to the distributions directory in EasyVVUQ when we get round to creating them

[2019-04-03 16:27] dww100 commented on #63
@djgroen You should have a quick review of this to see that it makes sense to you.

[2019-04-03 16:31] dww100 commented on #63
@raar1 I think we should write up something that looks like a design document based on this. The one issue I think I would like clarified is that the execute step. My understanding is that this would not be necessary - i.e. I could:
1. Sample and Encode a load of runs, save `Campaign` state, finish script.
2. Run however I want (i.e. hand rolled batch script, FabSim, small Dask script, QCG, whatev

[2019-04-03 17:44] raar1 commented on #63
I agree with drafting the design document. Here's a first stab at some pseudocode that kind of fits the general idea:

[code]

Note that the execution function is completely user defined, and can contain anything. The campaign would merely pass relevant info to that function (that the user wouldn't know), such as where that specific run directory has been placed, but the user doesn't have to use a

[2019-04-03 17:56] dww100 commented on #63
In my example above do we envision needing a dummy execution (maybe as default) or just that if we don't call `campaign.run()` then it won't be invoked?

[2019-04-05 13:07] raar1 commented on #63
I was hoping to have ```encode``` and ```decode``` essentially happen as part of ```run()```, yes. But I'm not sure how best to do this, especially in the PJM case where we want to make the encoding/decoding happen "in parallel".  This would require ```encode```, for example, to be some sort of standalone script? How do we pass run info to it, without effectively doing a ton of file coupling?

I'm

[2019-04-05 13:11] raar1 commented on #63
Perhaps for the standalone ```encode``` problem, we could go back to having an ```if __name__ == "__main__":``` block that runs using commandline arguments when it detects it is being called as a separate script. This would work with the PJM case. But we'd need to think about how we're telling it what it should "encode" - do we pass a file name to a dict? Or do we pass the name of the campaign, an

[2019-04-05 14:38] djgroen commented on #63
Hi guys,

Just my two cents, but I think "run" can be a bit ambiguous. It could refer to just executing a job, or to running the whole application. Perhaps it's better to have a separate "execute" function which only does the execution step, and a "do_campaign" function that does encode, execute, decode and aggregation?

Feel free to bully or ignore me if this is off-target, but I thought it could

[2019-04-05 15:19] bartoszbosak commented on #63
@raar1 I think that if we look at EasyVVUQ from a bit different perspective and if we assume that the campaign can be easily recovered from DB and used to execute/run each of the steps (e.g. encoding, execution, decoding,..) by "worker" processes independently, the actual processing may be moved to Pilot Job or FabSim3. It would just require definition of common interface for standalone processes,

[2019-04-08 12:49] raar1 commented on #63
@bartoszbosak  OK I think we're all essentially arguing for the same thing, but what form the interface should take is still ambiguous. Let's say we have N worker processes, what should happen? I can see at least two different classes of approach:

1. Each (individual) process loads the campaign DB and then starts running jobs (encoding, execution, decoding) but how does it know which runs are ass

[2019-04-08 14:16] bartoszbosak commented on #63
Hi @raar1. I think that our idea is a mix of your two ideas;-) Let's give our idea the number 3:

3. As in your proposition 2. there is one master script written with the help of preferred tool, e.g. with QCG-PJ or FabSim, that manages the whole experiment. In a case of QCG-PJ it is started as the first Pilot Job task. It initiates the campaign object and then submits a number of subsequent tasks

[2019-04-09 15:07] jlakhlili opened #71 "Access instance dictionary in _log_analysis"
To save the application log after running element specific analysis, the `_log_analysis` routine, called by `apply` routine, uses the access instance dictionary by calling `__dict__ `.  This call restrict attribute's typing in `BaseAnalysisElement` subclasses.
I have cases in PCEAnaylis where I want to use a dictionaries to store descriptive statistics as new attributes. But each item values shoul

[2019-04-15 16:10] dww100 opened #72 "Separate Campaign database into a separate object"
Okay so my thought here is that it maybe that we want to provide the same database interface to both the `Campaign` and `Worker` parts of VVUQ workflows.

The idea being that eventually we can separate concerns such that:
- `Campaign` deals with book keeping (logging operations such as sampling etc.) and validation (as such needs to store parameter space description and sampler description, along

[2019-04-15 16:12] dww100 commented on #72
As part of the WP2 and QCG interactions and this I have been working on defining some terms:
https://github.com/UCL-CCS/EasyVVUQ/wiki/Proposed-terminology

[2019-04-17 12:19] bartoszbosak opened #73 "Integration with QCG-PJ"
I've just created the **qcgpj_integration** branch with the new test **pce_pj** based on a test of **pce** application, that brings the proposition of integration of EasyVVUQ with QCG-PilotJob Manager. This proposition is external to the current code of EasyVVUQ - everything is contained inside the **pce_pj** directory.

Since I've developed it using PyCharm and vagrant VM on my personal computer

[2019-04-23 12:29] dww100 commented on #72
Note for myself: in the long run may have multiple apps

[2019-04-24 13:49] dww100 commented on #72
Current proposed reworking of the database structure: https://dbdiagram.io/d/5cc0422cf7c5bb70c72fbd64

[2019-04-24 14:01] djgroen commented on #72
@dww100 The design makes sense to me in general. The one thing that I think could become hairy is the "status" field in the Run object. Different backends could create inconsistencies in what that field would contain.

Perhaps it's best to go for a very strict and simplistic convention there, and force backends to keep any other data within their own states?

[2019-04-24 14:25] dww100 commented on #72
@djgroen Is your issue just with the name? To be honest I would rather backends created their own `run_status` table, but can see a case for a change to something like `vvuq_status` for clarity. It will be an issue that we won't be able to completely police how people edit table entries external to the Campaign interface.

[2019-04-24 14:39] djgroen commented on #72
@dww100 No, I think the name is okay. It's just that I think we should tightly define what the value of run_status could be, to avoid spagbollification. Perhaps we could even make it an enum or something?

e.g. one of {'planned','in progress','completed'} ?

[2019-04-24 14:49] dww100 commented on #72
@djgroen I thought that ENUM was not an SQL standard? Seems there is SQLAlchemy documentation though https://docs.sqlalchemy.org/en/13/core/type_basics.html

To be honest I don't want backends touching it at all, so limiting how they screw things up seems only a minor concern. The execution step is outside the concerns of EasyVVUQ. This is the EasyVVUQ status.

[2019-04-24 14:52] djgroen commented on #72
@dww100 Ah, okay. If it's not used by external tools, then it makes sense to keep it as a string, as it's more standard :).

I guess there is a mechanism how the EasyVVUQ status will be updated, based on the execution outcome... I'm not entirely sure how that part will work at this point, but I guess that might become clear further down the line :).

[2019-04-24 15:24] dww100 commented on #72
It's based on whether the decoder has successfully run on the output.

[2019-04-24 16:08] djgroen commented on #72
Ah, that sounds ideal then :).

[2019-04-25 11:40] orbitfold commented on #67
Should this be done now or after or as part of #72? I'm fine with either.

[2019-04-25 20:04] bartoszbosak commented on #73
Just for your information: I've managed to adjust the test and now it is successfully running with Travis.

[2019-05-01 09:51] NicolasMonnier opened #74 "Error when number_of_replicas variable is set to 1 or 0"
My script, based on the example script `run_workflow.py`, raised an error when I set the number of replicas to 1 or 0. (or even when don't initiate any replicas variable).

The replica's initiation look like the following lines

[code]

The (long) error :
[code]

Is it a 'real' error or having no replicas makes no sense ? (or something else?)

[2019-05-07 18:34] dww100 commented on #74
@NicolasMonnier This is a real error - our plan is to fix as part of the refactoring we are doing now.

[2019-05-07 18:41] dww100 commented on #6
Point 1 is probably solved by the new design. At least conceptually.
Still need a solution to Point 2 - @raar1 should we start a more focused issue?

[2019-05-08 10:00] raar1 commented on #60
This is being addressed in the refactoring

[2019-05-08 10:00] #60 closed

[2019-05-08 10:02] raar1 commented on #41
This is obsolete now due to the major refactor that happened recently. Fixtures will need to be re-integrated entirely from the ground up.

[2019-05-08 10:02] #41 closed

[2019-05-08 10:04] raar1 commented on #47
All three points have essentially been addressed, or are being addressed in other issues.

[2019-05-08 10:04] #47 closed

[2019-05-08 10:05] raar1 commented on #57
This has been essentially addressed in the recent refactor. Apps are now added programatically, and are passed the params block in-script.

[2019-05-08 10:05] #57 closed

[2019-05-08 11:01] raar1 commented on #16
We appear to have reached a consensus on this

[2019-05-08 11:01] #16 closed

[2019-05-08 11:03] raar1 commented on #6
The building blocks are now there for both these points. More specific issues can be added later to finish this off.

[2019-05-08 11:03] #6 closed

[2019-05-08 11:05] raar1 commented on #22
Closed as moving to M12 release planning at AHM.

[2019-05-08 11:05] #22 closed

[2019-05-08 11:06] #48 closed

[2019-05-08 11:10] raar1 commented on #59
After the refactor, this is how samplers now work.

[2019-05-08 11:10] #59 closed

[2019-05-08 11:16] raar1 commented on #66
We now use the python logging module and store easyvvuq version.

[2019-05-08 11:16] #66 closed

[2019-05-08 11:19] raar1 commented on #69
@jlakhlili If you get around to doing this (custom chaospy distribution) then could you add some brief documentation to the wiki on how you did it? (what was important to actually implement etc)

[2019-05-08 11:26] raar1 commented on #70
Based on current discussion with @dww100
* Flag recording whether a run's results have been decoded and aggregated into the dataframe (or not) should probably be part of the state of the collation element
* Collation element is likely to be an element very close to, or with different implementations for, different middlewares
* Should Collation state also handle the target_dir that each run has (r

[2019-05-08 11:46] dww100 opened #75 "Need convention for filtering columns in outputs from CampaignDB for use in Elements"
Two examples:

1.  'app', 'campaign', 'sample' ids
2. fixtures

Possible need for options in read functions or use a naming convention that allows safe filtering (i..e '_app', etc.).

[2019-05-08 14:06] wedeling opened #76 "fixed bug in SC"
@dww100 FYI: I fixed a small bug in the stochastic collocation code, and pushed it to dev.

[2019-05-09 07:55] dww100 opened #77 "PCE test in abstract_db_issue_72 branch"
I have made a first draft. Needs to be reviewed (it now runs to completion).

Known issues/improvements needed:
1. Only produces first order Sobol indices
  -  Should we add at least 2nd order? Would use `cp.Sens_m2` I guess? What is the likely limit in the end?
  -  Can we get Total-effect index?
2. Result dictionary need to be formalised
3. I have no idea if the results are correct

[2019-05-09 08:10] jlakhlili commented on #77
1. We can add the 2nd order and total order using  `cp.Sens_m2` and `cp.Sens_t`. I can do it also after the merge and test it.
2. What do you mean by result dictionary? the `self._statistical_moments`  etc.. ?

[2019-05-09 09:13] raar1 opened #78 "Implement resurrection of elements"
At present many elements (samplers, encoders etc) are able to serialize their states, which can then be stored in the campaign database. This allows them (in principle) to be re-initialised in cases where the campaign is restarted. However, at present this functionality is not implemented, and the campaign object contains references to the "live" element objects in use by the current app (such as

[2019-05-09 09:28] raar1 opened #79 "Allow campaign state to be saved and reloaded"
Campaign object states are currently not saved or loaded. In the past this was done via ```save_state()``` and ```load_state()``` methods.

[2019-05-09 09:34] raar1 opened #80 "Verify params dict passed to new apps"
When using the ```add_app()``` method of ```campaign```, we pass the parameter space description as dict. This specifies important details such as the default value a parameter should take, as well as verification-related info such as the min and max values it can take.

We currently don't check that the params dict has the right structure, or even whether it has the mandatory "default" value etc.

[2019-05-09 09:38] raar1 opened #81 "Use params info to verify values of vars in ```add_run()```"
The params dict each app class has can contain e.g. ```min``` and ```max``` values that parameter can take. At present this is not used for verification of var values in the campaign's ```add_run()``` method.

[2019-05-09 09:41] raar1 opened #82 "TODO: Get correct sampler and campaign IDs to pass to RunInfo"
In the ```add_run()``` method of ```campaign```, the RunInfo is currently being passed dummy values for the sample and campaign IDs. This should be changed to use the correct IDs for the current campaign and currently active sampler.

[2019-05-09 09:51] raar1 opened #83 "Campaign method```collate()``` doesn't work when ```store``` set to True"
Do we fix this (allow individual collate() calls to automatically write the resulting dataframe to disk) or do we put this functionality somewhere else?

[2019-05-09 09:56] raar1 opened #84 "Make collate element record completion status in runs database"
There is a TODO in ```aggregate_samples()```:
[code]
This needs to modify the status of a run in the runs database to indicate it is e.g. "Complete", meaning it has run, been decoded, and been collated into the dataframe successfully.

[2019-05-09 13:24] raar1 commented on #80
I've implemented this on the abstract_db_issue_72 branch

[2019-05-09 13:24] #80 closed

[2019-05-09 13:25] dww100 commented on #77
In terms of the results dictionary what I mean is that we need to have some standard output from the analysis - the obvious option is the dictionary with 'statistical_moments' etc. It will probably make more sense when we merge the refactoring and you look at the updated code.

[2019-05-09 13:29] raar1 commented on #73
@dww100 and I will now adapt @bartoszbosak 's code to the new refactored EasyVVUQ

[2019-05-10 08:22] jlakhlili commented on #77
OK! Thanks.

[2019-05-10 08:44] raar1 commented on #82
I have implemented this now.

[2019-05-10 08:44] #82 closed

[2019-05-10 08:46] raar1 opened #85 "set_sampler() always adds a new sampler to the database"
Currently when a sampler is set using the campaign's ```set_sampler()``` method a new sampler entry is always created. This needs in future to take into account if the sampler already exists there, and that runs are given a unique sampler ID as appropriate.

[2019-05-10 12:48] dww100 commented on #83
Maybe delete for now and then fix as part of continuous collation changes.

[2019-05-10 12:51] dww100 commented on #71
Should be fixed by refactor

[2019-05-13 10:40] #71 closed

[2019-05-17 10:34] djgroen opened #86 "Change lookup heuristic for templates define in input.json files to look relative to that directory."
Hi both,

Currently, when loading an input.json into EasyVVUQ, it will do a lookup for the defined template files relative to the location where you run the main Python script.

This works for one-shot scripts, but in the case of FabUQCampaign we have a script that will be more flexible, and we place the template files in the same directory where we place the input.json file for the application (s

[2019-05-17 15:51] raar1 commented on #83
I've deleted the broken store code. Storage of the collated results will be tackled as part of Issue #70

[2019-05-17 15:51] #83 closed

[2019-05-20 13:55] raar1 commented on #79
This is now implemented in the abstract_db_issue_72 branch. What is currently missing is deserializing the sampler etc, which is being handled under issue #78

[2019-05-20 13:55] #79 closed

[2019-05-21 12:00] wedeling opened #87 "EasyVVUQ in Windows"
Daan and I tried to run some of the tests (Cannonball and SC test) in Windows (using EasyVVUQ version 0.2), and ran into some issues with the `ExecuteLocal` subroutine. Maybe these issues will be obsolete with the refactored version, but we decided to let you know anyway

1) The shebang `!#` does not work in Windows, so to make `uq.actions.ExecuteLocal("run_ADE.py ade_in.json")` work, we have to h

[2019-05-21 14:14] bartoszbosak opened #88 "Scipy 1.3.0 changed API and now it doesn't work with Chaospy"
I've realised that the default dependency of Chaospy for Scipy is now not working. Until Chaospy updates to the changes done in the recents Scipy the solution is to specify an exact version for scipy in requirements.txt:
scipy==1.2.1
This is already done in qcgpj_integration branch.

[2019-05-22 09:13] dww100 commented on #67
Maybe consider using Versioneer:
https://github.com/warner/python-versioneer

[2019-05-22 10:07] dww100 commented on #78
- [ ] Encoders
- [ ] Decoders
- [ ] Samplers

[2019-05-22 10:09] dww100 commented on #51
Duplicated in #81
That issue suggests doing this at the point of adding a run.

[2019-05-22 10:09] #81 closed

[2019-05-22 10:09] dww100 commented on #81
Duplicate of #51

[2019-05-22 10:16] dww100 commented on #67
Is there a way of decoupling the database and campaign version?

[2019-05-22 10:44] dww100 opened #89 "JSON campaign database needs updating to match SQL"
We should note the changes made in the SQL version here to make this easier.

[2019-05-22 14:15] dww100 opened #90 "Reimplement replication of runs as a separate sampler"
We have a sampler that copies runs, would it be better to implement a 'replicas' option in a given sampler so that it can be done in one call?

i.e.
[code]
becomes
[code]

[2019-05-22 14:16] dww100 opened #91 "Status should be specified using an ENUM"
Currently a free text string - an issue is that there is no universal ENUM type implementation in SQL - but conversion should be fairly easy.

[2019-05-22 14:25] raar1 commented on #84
This is now fixed in the abstract_db_issue_72 branch.

[2019-05-22 14:25] #84 closed

[2019-05-22 14:46] raar1 commented on #70
Gradual collation is now implemented in the abstract_db_issue_72 branch.

```populate_runs_dir()``` and ```apply_for_each_run_dir()``` both now only act on runs with status ```created``` (thus avoiding runs with status ```completed```). This means only newly added runs will be encoded/executed.

Just call ```my_campaign.collate()``` whenever you like, and it will decode and aggregate any new resul

[2019-05-22 14:46] #70 closed

[2019-05-22 15:00] raar1 commented on #85
After discussion with Dave, we decided this behaviour is fine, and trying to work out if it's setting the same sampler again will add needless complexity. Perhaps we could change ```set_sampler()```'s name to ```change_sampler()``` or something like that, to emphasize that calling that method is always treated as a _setting a new sampler_. The important thing is that a resurrected sampler will car

[2019-05-22 15:00] #85 closed

[2019-05-23 09:32] dww100 commented on #88
I'll propagate your change when we push the refactoring to the main branch (if still relevant).

I have submitted a pull request at chaospy to fix the underlying issue:
https://github.com/jonathf/chaospy/pull/141

[2019-05-23 16:29] raar1 commented on #78
I've implemented resurrection of these 4 elements in the refactor branch

[2019-05-23 16:29] #78 closed

[2019-05-24 10:15] raar1 commented on #75
Most methods of the CampaignDB now have the ability tot filter by campaign or sampler

[2019-05-24 10:15] #75 closed

[2019-05-24 10:26] dww100 commented on #90
Replica option now in `Campaign.draw_samples`.

Still need a separate sampler as the use case is different - additional sampling after an analysis step suggests it is necessary.

[2019-05-24 10:28] dww100 commented on #74
In the refactored version for M12 this is fixed for some use cases by adding a replica option to the sample drawing method.

The replacement of the old replicate sampler is now a separate issue (#90) and will be dealt with after M12 release.

[2019-05-24 10:28] #74 closed

[2019-05-24 14:34] raar1 commented on #89
I've brought the JSON db up to date with the SQL version now (in the abstract_db branch)

[2019-05-24 14:34] #89 closed

[2019-05-28 10:08] dww100 commented on #86
Done

[2019-05-28 10:08] #86 closed

[2019-05-28 15:37] #36 closed

[2019-05-28 15:38] dww100 commented on #90
When we do this we should add a flag for random seed variables - which should be altered for each replicated run.

[2019-05-28 17:35] #56 closed

[2019-05-28 17:35] raar1 commented on #76
All of this has been sorted in the recent PR to abstract_db branch

[2019-05-28 17:35] #76 closed

[2019-05-28 17:39] #77 closed

[2019-05-28 17:46] dww100 commented on #69
@jlakhlili have you looked into this at all. We would really like a `uniform_integer` function.

[2019-05-29 11:12] raar1 opened #95 "Store collation result to disk/database"
Currently the collation element aggregates results (gradually if needed) from the decoder into a single pandas dataframe. This is important as it means all analysis elements have a single input datatype they need to handle.

However, when the campaign state is saved and reloaded, that collated dataframe is lost, as nothing is written to disk. Obviously we need to have the contents be stored, but t

[2019-05-29 14:17] jlakhlili commented on #69
@dww100 I did another thing with a module called `decorrelate` where I generate a new output distribution using `chaospy.QoI_Dist`. I will show this work in the ICCS to @raar1  and see where we can fit it in the code. Maybe under `elements` in the same level as `collate`.
But, I didn't look at 'uniform_integer' for the moment. I will also prepare it and discuss about it during the ICCS.

[2019-05-29 14:21] jlakhlili commented on #69
I just saw the code. Many changes are done.

[2019-05-29 14:49] raar1 opened #96 "Make SC and PCE samplers restartable"
The SC and PCE samplers are currently not restartable (unlike the random sampler).

[2019-05-29 14:51] raar1 commented on #96
The distribution serialization currently in use doesn't actually work due to the multiple internal variables for the chaospy distributions that are not being stored.

Using a straight python pickle is problematic due to the produced byte stream that does not JSON serialize, and which fails with any encoding schemes I've tried (utf-8, utf-32 etc).

I've had some luck with ```jsonpickle``` for seria

[2019-05-29 16:29] raar1 commented on #96
OK, so Campaign's ```draw_samples()``` using a sampler as a generator made it difficult to restart the sampler (in a more advanced state) in any elegant or non-confusing manner.

I've therefore converted all sampling elements to be python iterators instead. I've converted the random, SC and PCE samplers to this new setup, and the tests restart them.

[2019-05-29 16:29] #96 closed

[2019-05-30 14:17] raar1 commented on #95
@orbitfold any ideas on this? Best practices w.r.t. to the database?

[2019-05-30 15:42] raar1 commented on #95
As @dww100 discovered, pandas dataframes already have a ```to_sql()``` method, although it is apparently notoriously slow. I'm also thinking about the best way to "update" the dataframe when we want to add new results to it.

[2019-06-03 13:03] dww100 commented on #73
Integration development moved to: https://github.com/vecma-project/EasyVVUQ-QCGPJ

[2019-06-03 13:03] #73 closed

[2019-06-03 13:04] dww100 commented on #88
Requirements updated - will review version dependency at next release.

[2019-06-03 13:04] #88 closed

[2019-06-04 10:00] dww100 opened #101 "Improve polynomical chaos expansion analysis element"
In the PCEAnalysis code we have a ToDo noting that we should

- [x] Implement calculation of multiple Sobol indices (Note: may require different orders for different qoi?)
- [ ] Add pd.read_hdf (https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-hdf5).
- [ ] ~~Test cp.fit_regression to approximate solver.~~

[2019-06-04 10:21] dww100 commented on #87
I don't think we will implement running locally on Windows. So I have added an exception to `ExecuteLocal` which explains that it is not implemented.

[2019-06-04 10:21] #87 closed

[2019-06-04 11:15] dww100 opened #102 "Restarting a campaign needs to be documented and made intuitive to users"
@velocirobbie has been writing the FabSim integration and found that the use of `work_dir` as specified in the `Campaign` constructor as the start of the path for the campaign directory to be unclear.

We should at least provide clear documentation but may want to consider a different default to '.', perhaps in conjunction with storing the working directory in the state file and over riding with c

[2019-06-04 14:46] dww100 opened #103 "Add a test that checks restart works correctly"
Just put in a fix that ensured that reloaded `Campaign` picks up the active app from state file. This showed me the need for a good test of this. May need to implement `Campaign` comparison methods.

[2019-06-04 14:59] dww100 opened #104 "Collation elements do not complain if it finds no data to collect"
Error picked up using AggregateSamples but problem is general.

This is obviously a bit of a usability issue and we need to fix this. Also possibly need to have a check for empty data frames in analysis.

[2019-06-04 15:35] dww100 commented on #104
I've added Exception to Analysis elements if they receive an empty dataframe and warning in Campaign if collation creates an empty dataframe. I did both as we may have situations where we import dataframes at some point.

[2019-06-04 15:35] #104 closed

[2019-06-04 16:10] dww100 opened #105 "Choices/categorical variables"
We had a concept of choices or categorical variables where a set of discrete options for which a set of simulations were run. This is both useful for testing and potentially useful for VV applications.

[2019-06-05 10:10] raar1 commented on #95
Merging in the changes I've made in PR:
"Update to new collation model (see issue #95). Now there is a collater per campaign (not per app), and the data is stored in the campaign db. Multiple collates simply append to the existing db collation result. I also fleshed out the run status system a bit more ('new'->'encoded'->'collated'), and changed all run statuses in one go (hopefully more efficient

[2019-06-05 10:13] orbitfold commented on #103
Can you put in a reference to the commit?

[2019-06-05 10:15] raar1 commented on #95
This issue is now solved

[2019-06-05 10:15] #95 closed

[2019-06-05 10:24] raar1 commented on #103
@orbitfold latest dev seems to have the changes (if you look in ```save_state()``` for example you'll see it now stores ```"active_app": self._active_app_name```)

@dww100 My issue with this (and the reason I was forcing the user to explicitly set the app themselves upon reload) is that the campaign doesn't store anything about the algorithm we're actually running. So it's not like you can just re

[2019-06-05 10:27] raar1 commented on #90
Will this flag be something in the params block defined for a given app? So we would have a ```"resample_on_copy": True``` sort of thing there?

[2019-06-05 10:28] raar1 commented on #91
Mapping the enum to an int for storage should work fine, although this will make the easyvvuq version check more important (as changes in any given status->int could really mess up restarts)

[2019-06-05 10:33] raar1 commented on #67
I think this ties in with a deeper issue - if there are multiple campaigns stored in a single database, it will start getting really messy if campaigns from different easyvvuq versions were somehow stored in the same database, not least since easyvvuq versions determine what form they expect the database to have.

I think either it is a hard requirement that a database always contains campaigns fr

[2019-06-05 21:01] raar1 opened #108 "Implement comparison/validation element"
Currently we have a base comparison element defined, which requires the following method to be implemented:
[code]
We currently have no implementations of any such comparison element. I think we should be thinking about adding one or two now, but I wonder if this prototype base class makes sense:

- Does this ```compare()``` method signature make sense?
- Should comparison elements be limited to o

[2019-06-05 21:17] raar1 opened #109 "Multi-campaign database is currently a bit of a mess"
At present the (sql) campaign database allows more than one campaign to be stored in it. There are a number of issues with this:
- As discussed in issue #67, having multiple campaigns from (even subtly) different easyvvuq versions is obviously problematic
- Currently we only have one RunTable. It feels messy, error-prone and (potentially) inefficient to be having multiple campaigns all dumping the

[2019-06-06 06:38] dww100 opened #110 "EnsembleBoot analysis element breaks if groupby results in single lines"
The error and list of exceptions are pretty incomprehensible but seems to be thrown when `np.percentile` is called in the confidence interval calculation.

[2019-06-06 06:40] dww100 commented on #109
I don't think a single AppTable is an issue. Agree that the rest is a problem. I think we should wait until someone is proposing a use case before we make any changes though.

[2019-06-06 06:45] dww100 commented on #108
Those seem sensible concerns.

I'm inclined to think we should have a blank or `*arg, **kwargs` and possibly have a `_valid_inputs` method skeleton which gets all arguments and checks if comparison can be made.

I tend to feel we should abstract from one or more actual use cases rather than try to guess. We might become more restrictive, or at least explicit over time.

[2019-06-06 08:58] dww100 commented on #103
@raar1 Maybe post M12, we should work with an 'alpha user' (as I call Robbie nowadays) to make a more intuitive system. I think your worry is reasonable but probably not than much of an issue at present as all workflows are probably going to use one app (issue is likely to end up related to how we handle #109 and other features for complex VVUQ algorithms).

[2019-06-06 08:59] dww100 commented on #103
@orbitfold Do you need any information? I'm not sure what you are looking for when you ask for a commit here. As @raar1 says the functionality is 'ready for release' in the `dev` branch.

[2019-06-06 10:42] dww100 commented on #103
The commit I was referring to was `872a477420d66c57062c1322bce7a4c209752c11`

[2019-06-06 11:58] orbitfold commented on #103
I was looking for the changes that fix the issue you need testing for.

[2019-06-06 13:06] raar1 commented on #91
I've implemented enum run statuses in the dev branch now

[2019-06-06 13:06] #91 closed

[2019-06-10 15:53] raar1 opened #113 "Make tutorials downloadable as Jupyter notebooks"
Feedback from alpha testers suggests this would be a much appreciated thing to provide. We can still lay it all out the same way it appears in the tutorial, but the users can play with it and try modifying things in a nicer environment.

[2019-06-10 16:20] dww100 opened #114 "Make alpha status clearer online"
Make the points that we are here to support addiction of features and Encoders/Decoders

[2019-06-12 09:49] raar1 opened #116 "Add functionality to pick up existing datasets"
Could be tricky, but would be nice to be able to create a campaign from an existing dataset not created with EasyVVUQ.

[2019-06-12 09:56] raar1 opened #117 "Support extension of existing runs"
This was a target for v0.3 (a long time ago) but was not prioritized. It is now intended for v0.4.

Runs which have completed and have been aggregated (currently status 'collated') may be determined not to have converged. In such a case, there could be functionality added to allow either that original run to be "restarted" and run for longer, or for that run's output to be copied to a new Run dir

[2019-06-12 10:52] raar1 commented on #114
I've edited the README to make this clear

[2019-06-12 10:52] #114 closed

[2019-06-14 14:11] jlakhlili commented on #69
Done. Please check.

[2019-06-17 14:43] jlakhlili commented on #101
1. Multiple Sobol indices: Done.

2.  Read HDF5 file: create a proper issue for this enhancement.

3. Test `cp.fit_regression` should be moved in **new element**: Regression based Polynomial Chaos Expansion. The current PCE element is Pseudo-spectral projection (based in quadrature).

[2019-06-18 11:24] raar1 commented on #105
With respect to the first paper, we need some way to add more replicas for a given category, even after the sampler (or however it is implemented) has finished. This is needed to increase sampling in regions which are found during analysis to have been very noisy.

This likely will involve #90.

[2019-06-18 17:11] raar1 commented on #105
As some way towards this, I've added a BasicSweep sampler, that will perform a parameter sweep through all variables for which a list of values is provided (using the product of all iterators).

[2019-06-25 11:55] dww100 opened #120 "Features needed before we write publication"
I'm canvasing opinion here to see if there is anything we have missed.

Things which have been mentioned:

1. Choices/categorical variables
2. Replication sampler
3. Vector parameters
4. Physical checking of parameters

The first two are already included in the [paper plan](https://github.com/UCL-CCS/EasyVVUQ/projects/6). I think it would be worth checking if those above or any other features seem

[2019-06-26 09:36] djgroen commented on #120
@dww100 I think 3 would be nice, but is for me non-essential. As for (4), I think that one would be best reserved for a future occasion, as from my experience with (A)MUSE those kind of things can become quite complicated.

In terms of examples, I notice that there is a Fusion and Climate example. Perhaps it would be nice to include a third example as well, to better showcase the general nature of

[2019-06-26 11:56] dww100 commented on #120
@djgroen I think the basics of 4 are pretty easy - basically we need to check that defined values are between the input values given by the user. I agree that more elaborate (unit based for example) checks are beyond the scope of this version.

In terms of how essential 3 is - I guess @jlakhlili is the person to say where this should be in our priority list.

There is a third example - a mini-proj

[2019-06-26 12:05] djgroen commented on #120
Okay, that looks like a sensible set up to me. :)

[2019-06-27 07:57] dww100 commented on #51
Here is something that might be useful here:
https://docs.python-cerberus.org/en/stable/

For the longer term goal of physical reasonableness we could use a units module like:
https://github.com/pandegroup/openmm/tree/f9106ddb6a0d72c960c73b23ed0e07cd7190a80f/wrappers/python/simtk/unit
https://pint.readthedocs.io/en/0.9/

[2019-06-27 19:30] rmmilewi opened #121 "Just a quick question"
Hello!

My name is Reed, and I'm a software engineering researcher at Sandia National Laboratories in the US. I've created an issue on your repo just to ask a quick question. If you don't have time or don't care to respond, feel free to ignore me and/or delete this issue.

Where I work, we have a very diverse ecosystem of cutting-edge research codes spanning every discipline you could imagine. I'm

[2019-07-01 11:03] dww100 commented on #121
Hi Reed,

I think we have two main types of reasons for versioning and having 'releases' - (1) external communication and (2) internal motivation and design.

For (1) the idea is that it is much easier for a user to know the version number (as opposed to say a github commit hash) and that helps understand bugs vs state of the code or features available. It is also nice to communicate what you thin

[2019-07-01 11:04] dww100 commented on #121
@rmmilewi I know in the UK the software sustainability institute and the research software engineers list have discussed this sort of thing before. They might give you a more community led idea if you asked them.

[2019-07-01 13:56] rmmilewi commented on #121
Thank you so much! You've been very helpful.

And yeah, good point about the SSI and that RSE mailing list. We've been networking with the SSI over the past year or so; it'd be good to get their take on this topic. Thanks for the suggestion!

[2019-07-01 13:57] #121 closed

[2019-07-03 13:56] raar1 commented on #120
Note that with regards to no. 1, I've already gone some way towards that with the implementation of a sweep sampler (#119) which allows parameter sweeps over any number of category vars. What we don't have, however, is a way to have a parameter sweep within which a stochastic sampler varies the other params. We can get round to that if it's essential for the paper.

[2019-07-03 16:06] raar1 commented on #51
I have begun work on this now, wrapping the params dict inside a ParamsSpecification class that carries out verification related duties

[2019-07-03 16:19] dww100 commented on #51
Are you using cerberus? I was looking again and it looks to me like we could get the min/max stuff basically for free if we converted the input params into a schema.

[2019-07-04 14:31] raar1 commented on #51
I am using cerberus. It's now working for all tests, although we have to use slightly different terminology e.g. float, string, integer, and "allowed" instead of "options" etc. I also had to subclass the cerberus validator to make it ignore the "fixture" type. In future you can do your own validation for that, or map it to an existing type (string?).

In any case, we now (finally) have this range

[2019-07-04 14:31] #51 closed

[2019-07-04 14:32] raar1 commented on #58
This issue is now obsolete, after all the refactoring etc.

[2019-07-04 14:32] #58 closed

[2019-07-04 14:33] raar1 commented on #120
I have implemented physical range checking using Cerberus (see issue #51), so no. 4 is done.

[2019-07-04 15:15] raar1 commented on #120
Depending on what exactly we now mean by "vector parameters" (no. 3) this may now already be possible. If it was originally an issue with reading from the JSON file, then that isn't a block anymore since it's fully programmatic at present. And if it's to do with "how do we verify it" then we can already do this with the Cerberus stuff I just implemented.

What remains the sticking point for no. 3?

[2019-07-04 15:40] dww100 commented on #120
The original issue was I picked up with related to the JSOn input but I did think it would be an issue with verification. If that is fixed then all I would be interested in knowing is how such a parameter should be varied in a sampler and whether we need some sort of block to prevent them getting sampled incorrectly. If we get no reply from @jlakhlili or @wedeling then we should consider this 'sup

[2019-07-04 15:44] dww100 commented on #103
@orbitfold I'm not sure that is straight forward. Basically what we need a test for is that all of the variables in the Campaign are the same between a save and a restart from the saved state. Naturally all manner of things could happen in the database but that is beyond the scope of this.

[2019-07-04 15:48] dww100 commented on #101
@jlakhlili Will you handle 2 & 3 - maybe make a feature branch for them if appropriate - possible a WIP pull request.

[2019-07-05 14:07] raar1 commented on #64
I've implemented a simple ```call_for_each_run()``` method of ```campaign``` that will call a user-defined function for every run. This user-defined function is passed both the run_dir and the params dict, which means in principle that you can just pass those parameters on the commandline, for example.

I've also modified campaign so that you are allowed to set an encoder to ```None``` when creati

[2019-07-05 14:07] #64 closed

[2019-07-05 17:19] raar1 commented on #102
I've written a tutorial on restarting campaigns. Haven't thought much about the `work_dir` issue though.

[2019-07-05 17:25] dww100 commented on #102
I could pair develop something with Robbie on Monday?

On Fri, 5 Jul 2019, 18:19 Robin Richardson, <notifications@github.com>
wrote:

[2019-07-08 10:22] jlakhlili commented on #101
@dww100 I will abandon the point 3 (at least if someone want to use it). I did some tests and I the method doesn't work well. In addition, I didn't  gain so much in term of computational time. So I think for the moment Pseudo-spectral projection method for the PCE element is enough for our applications.

[2019-07-08 10:24] jlakhlili commented on #101
@dww100 for the point 2, yes I will create a a proper issue for it and a pull request... Is it ok for you?

[2019-07-09 15:30] raar1 opened #122 "(Very basic) multiscale example"
Jalal's stuff would make most sense for this. Maybe include the results of a small two solver case.

[2019-07-09 15:30] raar1 opened #123 "Climate example"
Adaptive stochastic collocation would be nicest

[2019-07-09 15:31] dww100 commented on #90
I think the resample with copy is the right idea but it needs to be a list of fields (e.g. random seeds only).

[2019-07-09 15:47] dww100 commented on #90
Further discussion in CCS yielded the idea of flagging seeds in sampler (which already has the way to sample them) and copy element de-serializing sampler relevant to the ensemble being extended.

[2019-07-09 16:19] jlakhlili commented on #123
If we have an example of this application, we can use the 3 methods that we propose: SC, PCE, QMC and do a kind of UQ Benchmark.

[2019-07-11 12:31] orbitfold commented on #103
I think it will be made a lot easier with the changes I'm making to the tests.

[2019-07-11 16:44] dww100 commented on #103
Cool

[2019-07-16 10:50] dww100 commented on #110
Can no longer reproduce - think changes in dependencies fixes this.

[2019-07-16 10:50] #110 closed

[2019-07-23 12:36] wedeling commented on #123
I'm back from vacation now, so I'll be working on this example. I could indeed try the different samplers

[2019-07-25 09:38] wedeling commented on #102
@raar1 where can I find your tutorial on restarting campaigns?

[2019-07-25 10:44] raar1 commented on #102
Hi @wedeling, you can find it here (it's in the dev part of the docs):
https://easyvvuq.readthedocs.io/en/dev/

It's not a great tutorial, just something I knocked together quickly, so if you have any trouble with it let me know.

[2019-07-29 12:40] wedeling commented on #102
Hi @raar1, it worked fine for me. I've split the job submission and post processing, since it takes a bit of time for all the samples to complete on eagle. So after all jobs are submitted, I save the campaign, and I restart it when all samples have completed. When I restart the campaign, I extract the sampler and output_colums (which I need for post processing) as follows:

`    #get sampler and o

[2019-07-30 07:25] wedeling commented on #123
Hi @raar1, I've started writing the climate example section in the paper. Most of my code is very similar to the coffee cup example which is already in the paper. The only real different is that I interface EasyVVUQ with FabSim3 to run the samples on Eagle in parallel. My thought was to only show the code pertaining to this, to avoid repetition, and provide a reference to the full code.

[2019-07-30 10:03] wedeling opened #127 "Sampling via FabSim"
If I want to run an EasyVVUQ campaign on a remote resource using FabSim3, I replace the `ExecuteLocal` line with

[code]

Where `run_FabUQ_ensemble` is just a subroutine which runs a single FabSim command line instruction:

[code]
This subroutine is located in the same file as my EasyVVUQ script, which is kind of ugly. Since this subroutine is not application specific, can we maybe move it somewhe

[2019-07-30 10:11] dww100 commented on #127
Things to do with running the application should be nowhere in the EasyVVUQ codebase ideally IMO.  We only have ExecuteLocal for testing and tutorial purposes.

Not sure whether this should be in FabSim or we could consider making a VECMA interface library or at least repository?

[2019-07-30 10:41] wedeling commented on #127
I see your point, and now that you mention it, I remember this was also mentioned in the paper. I'll leave it as is then, it's just a single command line instruction anyway.

[2019-07-30 10:58] djgroen commented on #127
@wedeling Actually, the point you raise is very important. Originally, we developed FabSim for command-line operation, but we realize that more and more people also want to use the toolkit through Python directly, as you have been doing now. We already made a few changes that makes this easier (e.g., that FabSim can be launched from any directory), but we haven't quite converged on the best / most

[2019-07-30 11:52] wedeling commented on #127
@djgroen Option 1 seems ok to me, a separate library file would already clean up my code.

[2019-07-30 12:05] raar1 commented on #102
Ah great! OK, it looks like we at the very least need a my_campaign.get_active_sampler() method and something equivalent for the output_columns.

[2019-07-30 12:43] djgroen commented on #127
@wedeling Okay. I will  establish that a.s.a.p. then, perhaps even this week :)

[2019-07-31 11:02] wedeling commented on #127
cool, thanks

[2019-07-31 11:02] #127 closed

[2019-08-01 13:50] wedeling commented on #102
@raar1 Yes, that would make my code a bit cleaner.

[2019-08-06 14:41] wedeling commented on #123
@raar1 @jlakhlili  The 1st drafty version of the section of this example is more or less ready. Let me know what needs to be changed / added.

[2019-08-08 00:26] djgroen opened #129 "Establish flee example"
We have an integration of Flee with EasyVVUQ, but we need to test it out with the latest codes, make sure the implementation captures a meaningful scenario, and clearly present it within the software paper.

[2019-08-08 00:29] djgroen commented on #113
I just wanted to add that we've now established a very basic Python API for FabSim (see `lib/` subdirectory), which will allow it to be used from a Jupyter notebook if that is convenient. For Flee and the Ocean Model, I think this could be particularly useful.

But of course the Jupyter environment would break down if any tutorial contains console commands, so I suppose we really have to steer cle

[2019-08-08 00:29] djgroen commented on #129
@cspgdds When you return, perhaps you can share what you have, and then we can work together to get this done fully?

[2019-08-08 00:33] djgroen commented on #108
Hi both.

@wedeling and I have been working out a first VVP closely related to this, as part of the V&V dev team (Robin is in it too).

Have a look here for details and feel free to comment as you like:
https://github.com/djgroen/FabSim3/issues/141

Two last small points:
* The VVP is not FabSim3 code, but generic code with no major dependencies. It currently resides both in both the FabSim3 and t

[2019-08-12 12:56] raar1 commented on #105
After discussion with @dww100 , we will implement a "sampler of samplers" approach for this. Essentially, you can plug in one or more samplers to it, and it manages the product of the samplers.

[2019-08-14 14:47] olivhoenen opened #130 "Issue with Chaospy version when pip installing EasyVVUQ"
Hi there,

when you install EasyVVUQ through pip: `pip install easyvvuq` it comes with chaospy in version 3 (3.0.7), while from what @jlakhlili told me version 2.3.5 is expected. Because of the differences in the API we end up with broken PCE sampler (tested from Fusion application):
[code]

[2019-08-14 15:04] dww100 commented on #130
Is the `dev` branch version compatible with chaospy 3?

At one stage we had to fix to 2.3.5 due to another issue but we submitted fixes for `chaospy` for those. I guess this is an unexpected consequence of that.

I guess we need to patch the master branch and remake the pip branch but the choice is which way to go:
1. Ensure the old version in the setup.py
2. Update the code to use new API

I'd fa

[2019-08-14 15:15] jonathf opened #131 "Chaospy collaboration"
Hi, I am the maintainer of Chaospy. Thank you for using my code as part of your project. I am very humbled.

I was wondering, would you guys would be interested in some sort of collaboration?

For example to start, discrete distribution support discussed in #69. Would it make sense to move/copy the code over to the chaospy repository? This way the maintenance burden for that component get moved to

[2019-08-14 15:30] jlakhlili commented on #130
The `dev` branch is compatible with `Chaospy 2` (the latest release).

[2019-08-14 15:34] raar1 commented on #131
Hi @jonathf , thanks for getting in touch! Yes, we would be very happy to collaborate, and had been meaning to contact you as our tool becomes more mature.

Moving the discrete distribution to Chaospy would make sense for us, particularly as relates to maintenance as you say. If we can help with this let us know.

Thanks for making such a useful library!

[2019-08-14 15:42] dww100 commented on #130
If the pip version is higher what is the meaning of the release in this case? Is there maintenance of the 2.x branch?

Maybe this is a question for @jonathf

[2019-08-14 16:29] jonathf commented on #130
There is maintenance on 2.X branch in the sense if some user post a bugreport, I will fix it. There will be no backporting though.

As for the name change in question, it is specific for 3.0.6, where a major refactor adding a lot of new features to quadrature. Things got moved around and the arg `domain` got renamed to `dist`. Silly bug.

If you want to fix it quickly, just rename it to match. Oth

[2019-08-14 16:36] jonathf commented on #131
Glad to hear that. I'll make a pass at the task.

I have created a "Releated projects" section in the chaospy main README. Do you guys mind if I add your project there?

[2019-08-14 16:43] jlakhlili opened #132 "Store Analysis results to database"
Currently the analysis results are stored in a dictionary:
[code]
So, as discussed with Robin in the dev-team (FabSim/EasyVVUQ) meeting today, it will be better if we create new tables for results and store them in the data base after the analysis.
It's what I did in the UQ tests for fusion application:

[code]
Finally, I have two additional tables `STATS_P` and `SOBOLS_TOT_P`.

[2019-08-14 20:22] jonathf commented on #69
As discussed in #131, it might be a good idea to make a native distribution in chaospy covering your usecase when it makes sense.

@jlakhlili, I hope you don't mind. I expanded upon your proposed descrete uniform code to how the code works inside chaospy. A PR for the code I am proposing here:
https://github.com/jonathf/chaospy/pull/163
Feel free to test to see if it works out.

[2019-08-15 10:32] raar1 commented on #131
Not at all, please do.

[2019-08-16 09:42] wedeling opened #133 "Nested sparse grid"
We need to be able to pass the boolean 'growth' parameter to the PCE/SC sampler and analysis objects, in order to use sparse grids with clenshaw-curtis points, e.g.

[code]

If set to True, clenshaw curtis points become nested, the default value is False. Also, I get incorrect mean and variance if `growth=False` and `rule="C"`.

[2019-08-16 16:00] raar1 commented on #130
No problem, I've renamed ```domain``` to ```dist``` and things work fine for version 3.0.7

[2019-08-16 16:03] raar1 commented on #105
I believe this is now addressed by PR #134 .

I wrote a sampler called ```Multisampler``` which you can construct as follows:

[code]

to chain together as many samplers as you wish. This can be a sweep sampler with a random sampler, for example (thus handling the "category" variables case, but with more flexibility).

[2019-08-16 16:23] jlakhlili commented on #69
You are welcome.
I've seen that you have added a new class `DiscreteUniform`. I will test it as soon as possible and come back to you.

[2019-08-16 17:17] jlakhlili commented on #133
Thanks Wounter! As mentioned in the new choaspy documentation:  Defaults growth to the same value as ``sparse`` if omitted.
So if `sparse=True` we have to set by default `growth` to True.
In my case, I set `sparse=True`,  `growth=True` and `rule="J"` and it works, otherwise Sobols  indices are wrong.

[2019-08-20 16:06] raar1 commented on #105
Issue is addressed by the SweepSampler and MultiSampler additions.

[2019-08-20 16:06] #105 closed

[2019-08-20 16:17] raar1 commented on #102
Campaign now has a `get_active_sampler()` method, and campaign restart is documented.

[2019-08-20 16:17] #102 closed

[2019-08-25 08:51] jonathf commented on #69
This issue addresses two more types of distributions that you need for your project.

First, `chaospy` has support for dependent random variables. Long over due, but I finally got around to create a small write-up on the topic:
https://chaospy.readthedocs.io/en/master/recipes/dependent.html
I also wrote a journal article on the topic, if you need something more formal:
https://epubs.siam.org/doi/1

[2019-09-06 14:31] raar1 opened #138 "Cerberus incorrectly determines that numpy.int64 is "not an integer""
The uniform_integer distribution at present uses the numpy randints() function which returns type numpy.int64. Unfortunately cerberus doesn't recognise this as a type of integer and therefore chokes during verification for any int parameters generated this way.

[2019-09-06 14:39] raar1 commented on #138
In fact, even turning off cerberus validation still leads to:
```TypeError: Object of type 'int64' is not JSON serializable```

I'm going to force uniform_integer distribution to return python ints for now.

[2019-09-13 11:51] #138 closed

[2019-09-13 12:36] raar1 commented on #103
@orbitfold Would you say this test is more or less done now so I can close the issue (and include this in the v0.4 release today)?

[2019-09-13 13:22] orbitfold commented on #103
I'd say more or less. The testing can always be more comprehensive.

[2019-09-13 13:34] raar1 commented on #103
Thanks. We can open a new, more specific issue when the time comes. For now I'm trying to clean up as many trailing issues as possible, so if this one is addressed for now I'll close it.

[2019-09-13 13:34] #103 closed

[2019-09-16 12:32] orbitfold commented on #109
That is kind of the SQL way of doing things though. In what way is it messy or error-prone?

Likewise.

[2019-09-16 12:44] raar1 commented on #109
I suppose my reasoning was it's messy because runs are very specific to a given campaign. so having to do additional filtering in all your queries makes the queries unnecessarily longer and more likely to need debugging. But I'm happy to continue as we are if you think this is normal.

I tend to think of the database how I think about typical OO data encapsulation principles for e.g. classes, in w

[2019-09-16 12:46] orbitfold commented on #109
It's probably the most common pattern in database design and databases are usually optimised quite well for it.

https://database.guide/the-3-types-of-relationships-in-database-design/

[2019-09-16 12:49] raar1 commented on #133
Hi @jlakhlili , both the current dev and master branches are (or should be...) now up-to-date with respect to chaospy v3.0.7.

If you have some PCE stuff you want to integrate then if you open a PR I'm happy to take a look?

[2019-09-16 12:51] raar1 commented on #130
I have fixed the current chaospy requirement at 3.0.7 for the most recent release, and will increase that to a more recent chaospy version at some point, but for now I think this issue has been addressed.

[2019-09-16 12:51] #130 closed

[2019-09-16 12:52] raar1 commented on #120
I think for now we have essentially got the features we need for the first paper.

[2019-09-16 12:52] #120 closed

[2019-09-16 12:54] raar1 commented on #109
OK, thanks for that. In that case I'm happy to continue with the current design (apart from the collation, but I'm going to open a new issue for that one).

[2019-09-16 12:54] #109 closed

[2019-09-16 12:56] raar1 commented on #101
I think this issue is now more or less addressed.

[2019-09-16 12:56] #101 closed

[2019-09-16 12:59] orbitfold commented on #116
What does that mean, exactly?

[2019-09-16 13:05] raar1 commented on #69
@jonathf thanks for this and the links, it could be useful.

I suppose the histogram distribution we were thinking of was intended as a representation for a "general distribution", one not necessarily fitting any of the analytically defined standard distributions. Ocassionaly we have results which are distributed in such a fashion, and which are used as input to another solver further down the wor

[2019-09-16 13:07] raar1 commented on #67
@orbitfold It's been a while since I looked at this issue - did we ever get anywhere with it? Do you think there's a clean way to do this version check with the db as it stands?

[2019-09-16 13:17] raar1 opened #143 "Multiscale collation will break with present design"
While reviewing the present core design, I noticed that the collation element is a property of the campaign, and not the app. It now seems clear to me that in this case collation will only work for a single app case, since there is only one collater and one collation table in the database. If the other apps have different output columns (from their respective decoders) then these results _cannot_

[2019-09-16 13:20] orbitfold commented on #67
From the CampaignDB __init__ method query the database and see if it contains campaigns created with other versions of EasyVVUQ, if so throw a hissy fit?

[2019-09-16 13:22] raar1 commented on #116
I think this is an old idea that @dww100 and I had, that someone may have an existing directory structure (of an approximately similar or sane form) containing output from some set of simulations they ran **without** EasyVVUQ, but which they might like to use for the analysis or subsequent runs.

So we could provide relatively basic tools (we obviously can't and won't support any type of directory

[2019-09-16 13:23] raar1 commented on #67
That would be perfect.

[2019-09-16 13:27] raar1 commented on #122
This will require resolution of issue #143.

[2019-09-16 13:27] orbitfold commented on #67
Ok I'll take care of this.

[2019-09-17 12:50] raar1 commented on #67
OK thanks, seems to work for me too now.

[2019-09-17 12:50] #67 closed

[2019-09-19 10:51] raar1 commented on #143
This issue is (I believe) fully addressed by PR #145. I'll close this issue once that's been reviewed.

[2019-09-19 10:56] raar1 commented on #69
@jlakhlili Did you have any luck with the ```DiscreteUniform``` testing? If it's covered by chaospy then we can remove our version from EasyVVUQ.

[2019-09-19 11:15] raar1 opened #146 "Cerberus DeprecationWarning"
I think having seen this deprecation warning for a while that it is probably time to do something about it:

[code]

[2019-09-19 11:18] raar1 opened #147 "Have numpy.int64 type accepted by cerberus as an 'integer'"
Currently acceptable integer types such as ```numpy.int64``` are not recognised by the cerberus validator. Furthermore, even if passed, json then refuses to serialize this type.

[2019-09-19 11:52] raar1 commented on #146
This is fixed in PR #145

[2019-09-19 11:53] raar1 commented on #147
This is fixed in PR #145

[2019-09-19 11:57] raar1 commented on #123
Nice, I think this is good now.

[2019-09-19 11:57] #123 closed

[2019-09-20 10:14] raar1 commented on #69
@jonathf Thanks, this looks more or less like what we meant by the "histogram" case. Kernel density would likely be fine for our expected use cases.

[2019-09-20 10:29] raar1 opened #148 "Add simple scale bridging element base class(es)"
To complete the multiscale (read, multiapp) framework for EasyVVUQ we would now need some sort of primitive scale bridging element. I'm thinking initially that one basic function of such an element could be e.g. outputting the distributions for variables in App-Y using the dataframe collated output of App-X.

How general is this? What other "scale bridging" operations do we expect?

Please discuss

[2019-09-20 12:54] raar1 opened #149 "Check/Sanitize collation sql queries"
As @orbitfold noted in his review of PR #145:

[2019-09-20 12:55] raar1 commented on #147
PR now merged.

[2019-09-20 12:55] #147 closed

[2019-09-20 12:56] raar1 commented on #146
PR now merged.

[2019-09-20 12:56] #146 closed

[2019-09-20 12:56] raar1 commented on #143
PR now merged.

[2019-09-20 12:56] #143 closed

[2019-09-23 09:54] orbitfold commented on #132
I don't understand what needs to be done here.

[2019-09-23 10:27] orbitfold commented on #108
https://github.com/capitalone/datacompy

There is this thing out there

[2019-09-24 11:09] raar1 opened #150 "Add MultiEncoder element"
To help @jlakhlili with his fusion case, we would like a simple way to deal with encoding for apps which would benefit from 2 or more existing encoders (instead of the user needing to write a custom one for themselves).

For example, say an app requires a GenericTemplate encoding to create one of its files, and an XMLEncoder for another, it would be nice to be able to pass them to a ```MultiEncode

[2019-09-25 13:35] raar1 commented on #108
@orbitfold That looks promising, thanks.

[2019-10-01 13:58] dww100 opened #154 "File based encoder (should mostly replace fixtures)"
Now we have multi-encoders we should be able to create an Encoder which copies or links files based on parameters (possible with an optional lookup table). May need to think in terms of remote files (which @orbitfold has been looking in to) - for now I think this would be two separate encoders but we might end up with a local/remote flag and kwargs in a single generic interface.

[2019-10-01 14:00] raar1 opened #155 "Add DirectoryEncoder to build directory hierarchies"
Based on a discussion with @dww100 yesterday, we decided that it would be useful to have an encoder which could set up a directory hierarchy for each run. This would be useful for codes like NAMD which require several directories per run.

This could then be combined with other file encoders using the ```MultiEncoder``` to (in many cases) produce a complex encoding without any need for a user to a

[2019-10-01 14:03] raar1 commented on #155
OK, for the last bit regarding the files, @dww100 has just opened issue #154

[2019-10-04 14:15] raar1 commented on #155
This is implemented in PR #156, with some documentation added (to the multiencoder tutorial)

[2019-10-04 14:15] #155 closed

[2019-10-04 14:20] raar1 commented on #154
This could be a good chance to remove the slightly messy fixtures code that sort of sits in any encoder, and have it all nicely contained in a single encoder. I think this is one of the few remaining issues about the core functionality/design that isn't quite right yet, but this should solve that.

[2019-10-09 15:39] jlakhlili opened #157 "Campaign prefix"
It is better to have proper name of the campaign directory and database. For example,  instead of  EasyVVUQ_Campaign in  `EasyVVUQ_Campaign_uxaomko2/` and  `EasyVVUQ_Campaign_0zakp0gstest.db`, we can just use the campaign_name which can be given by the user.
I already did the correction, can I push it?

[2019-10-09 18:18] raar1 commented on #154
There's a work-in-progress for this in PR #158

[2019-10-09 18:19] raar1 commented on #157
Hi Jalal - can you open a pull request for it?

[2019-10-09 19:21] raar1 commented on #69
@jlakhlili Any luck with the ```DiscreteUniform``` distribution in chaospy yet?

[2019-10-09 19:29] raar1 commented on #132
I suppose we need to decide whether the correct place to store results is in the database. We could provide this functionality relatively easily, as Jalal shows. The question is how do we formalize this so it doesn't pollute the database with hundreds of tables filled with different versions of results. Surely we would rather have a "last result" type of thing? Or do we really want every single an

[2019-10-10 12:25] jlakhlili commented on #69
Sorry for my non reactions until now.

[2019-10-10 12:40] jlakhlili commented on #69
The EasyVVUQ `uniform_integer`  distribution make random *integer  seeds* but `DiscreteUniform`  does not. It is operates on intervals of integers by rounding lower and upper values to the closed integers.  Here is an example:
[code]
And the last

[2019-10-10 15:49] jonathf commented on #69
@jlakhlili, understandable. Unfortunately, one of the fundamental building blocks in chaospy relies on the random variable to be defined on the `(0,1)^D` hypercube and mapping the values from there. So there is no getting around the rounding rule that I use to get discrete variables in this space.

However, there is no reason why not the discrete variables couldn't return integer values. For examp

[2019-10-21 11:03] jlakhlili commented on #69
That's what we need. Thanks. With the new parameter `interpret_as_integer`  witch is to True for DiscreteUniform we can replace  then `uniform_integer`

[2019-10-21 11:14] jonathf commented on #69
Good.
Merged now. 3.0.14 released.

[2019-10-30 12:27] #157 closed

[2019-11-04 13:40] fjansson opened #161 "uq.analysis.EnsembleBoot fails if replicas=1"
In the gauss tutorial example, if replicas is set to 1, `uq.analysis.EnsembleBoot` fails with a backtrace. Apparently more than 1 replica is needed - a more descriptive error message would be helpful.

[2019-11-04 14:59] velocirobbie opened #162 "Reloading campaign creates a new Easyvvuq empty run directory"

[2019-11-04 15:03] velocirobbie opened #163 "If you .collate() when there has been no output, subsequent .collate() fails afterwards once there is output"
Will complain that column does not exist in SQL collaiton table

[2019-11-04 15:04] velocirobbie opened #164 "Ensemble bootstrap should give comprehensible error message if user gives wrong/non-existent qoi_cols"

[2019-11-15 10:46] orbitfold opened #167 "Enable the auto API documentation feature in Sphinx"
To convert docstrings to API documentation.

[2019-11-20 08:45] dww100 commented on #69
@wedeling I see in the comments of the code (and the accepted pull request above) that the `legendre` function is now redundant. Do you still have any code that uses it? If not then I think @orbitfold should remove it.

[2019-11-20 14:47] orbitfold commented on #161
Hm, I can't replicate at least in the test_integration with replicas=1 it runs fine. Can you give me the complete set-up you used?

[2019-11-20 15:24] fjansson commented on #161
I just tried again in the current dev branch "easyvvuq==0.3.1+180.gd60d425".
`python3 easyvvuq_gauss_tutorial.py` runs fine as it is, but breaks if I change line 77 to `replicas=1`.
[code]
[backtrace.txt](https://github.com/UCL-CCS/EasyVVUQ/files/3869873/backtrace.txt)

The tests pass for me as well. Side note, the README file could mention how to run the tests, now it just says that one has to co

[2019-11-20 18:02] orbitfold commented on #161
Ok, I can recreate it.

[2019-11-26 14:37] jlakhlili commented on #133
@raar1 Now we use chaospy 3.0.14 in dev branch and in master we use chaospy 3.0.7.

[2019-11-27 12:36] wedeling opened #168 "white spaces in CSV column names cause pandas error"
When I have spaces in the columns_names (the header) of an output CSV file:
[code]
Then collate() returns an error, related to
[code]
in `simple_csv.py` . This is because `self.output_columns` does not contain the spaces. I could just write column names with no spaces, or use
[code]
The latter works, and I guess it should also work if there are no initial spaces in the column names, although I did

[2019-11-27 15:17] orbitfold commented on #168
It's not an error, it's expected behaviour. CSV format does not allow for spaces. Well it does but they are considered part of the attribute name even if they follow or precede it. See: https://tools.ietf.org/html/rfc4180

[2019-11-27 16:44] wedeling commented on #168
Thanks, did not know this. I suppose that in that case I just wrote a bad CSV file, and we don't really need to modify the toolkit. I'll just update the write subroutine of my solver.

Think we can close this?

[2019-12-02 14:44] fjansson opened #169 "SC and PCE samplers do not support discrete distributions"
I'm trying to use a variable with a uniform integer distribution with the SC and PCE samplers. (Eventually, I want a distribution of {0, 1} for a random binary value).
[code]
It seems the SC and PCE samplers do not respect the discrete distribution, but generate
real-valued sample points. Then, the generated parameters are checked and found to not obey the
constraints, integer values in this case.

[2019-12-03 13:58] velocirobbie opened #171 "Conda can't find SALib"
I tried to install using `conda install --file requirements.tx'

I added `conda config --append channels conda-forge` to find some of the packages. But still got this error which i couldn't find an obvious solution

[code]

[2019-12-03 14:02] orbitfold commented on #161
I think @velocirobbie commit fixed this? I think this can be closed.

[2019-12-03 14:06] orbitfold commented on #171
Well that is not unusual... Conda does not have all the packages. You need to use pip for some of them.

[2019-12-03 14:07] #168 closed

[2019-12-03 14:08] orbitfold commented on #164
What is incomprehensible about the current one?

[2019-12-03 14:12] #161 closed

[2019-12-03 14:27] fjansson commented on #161
Yes, `easyvvuq_gauss_tutorial.py` now runs also with replicas=1 (current dev branch).

[2019-12-03 18:25] velocirobbie opened #172 "setup.py should recompile cannonsim"
when running tests, the executable cannonsim can get out of sync with the version of easyvvuq.

Recompile cannonsm when `setup.py install` is run, or know to ignore cannonsim tests when it is an old version

[2019-12-04 09:34] orbitfold commented on #171
Can I close this?

[2019-12-04 09:59] velocirobbie commented on #171
yes

[2019-12-04 11:17] #171 closed

[2019-12-04 11:21] #167 closed

[2019-12-04 11:37] orbitfold commented on #172
One option would be to rewrite cannonsim in Python...

[2019-12-04 11:44] velocirobbie commented on #172
Functionality to ignore cannonsim when it doesn't exist is already there
It's probably useful to show integration with something non-python

[2019-12-04 11:55] orbitfold commented on #172
See PR #173

[2019-12-04 14:45] raar1 commented on #117
This is more urgent now, as some users (for example @wedeling ) are at a stage where they wish to be able to extend a run (or rerun it) to convergence, but then have the ```collate()``` pick it up. At present EasyVVUQ will ignore any such runs as their status will already be set to "COLLATED".

[2019-12-04 14:49] raar1 commented on #129
@djgroen I'm going to close this now, as we have the example for the Applications Paper.

[2019-12-04 14:49] #129 closed

[2019-12-04 14:51] velocirobbie commented on #163
(easyvvuq) robertsinclair@eduroam-int-dhcp-97-10-114 Materials $ python analyse_campaign.py
Reloading campaign...
Traceback (most recent call last):
  File "/Users/robertsinclair/anaconda3/envs/easyvvuq/lib/python3.6/site-packages/sqlalchemy/engine/base.py", line 1229, in _execute_context
    cursor, statement, parameters, context
  File "/Users/robertsinclair/anaconda3/envs/easyvvuq/lib/python3.6

[2019-12-04 17:19] #122 closed

[2019-12-10 14:07] raar1 commented on #69
@wedeling @orbitfold Just checking on Dave's question above. Can/has the ```legendre``` function been removed?

[2019-12-10 14:09] raar1 commented on #163
I'm going to deal with this now

[2019-12-10 14:21] #133 closed

[2019-12-10 14:26] raar1 commented on #132
@jlakhlili @orbitfold It's possible this would relate to how a scale bridging element would work (Issue #148). As in, what would it need as input.

[2019-12-10 14:50] dww100 commented on #69
I believe I have already?

On Tue, 10 Dec 2019, 14:07 Robin Richardson, <notifications@github.com>
wrote:

[2019-12-10 14:56] raar1 commented on #69
Well grep isn't finding anything, so I'm going to close this old issue now.

[2019-12-10 14:56] #69 closed

[2019-12-10 15:15] raar1 opened #175 "distributed 2.9.0 has requirement dask>=2.7.0"
Just noticed the following when attempting to install from requirements.txt. This happens on both my laptop and on travis:

[code]

It doesn't cause any tests to fail, but it's concerning. Any idea what this is referring to? (@orbitfold maybe?) Is there any reason we can't set dask==2.7.0 at present?

[2019-12-10 15:40] raar1 commented on #163
I've fixed this in PR #176

[2019-12-10 15:57] raar1 commented on #164
@velocirobbie Could you post a snippet of your script which was causing this problem? Then I'll write some sort of fix for it.

[2019-12-10 15:57] raar1 commented on #162
Does this still happen with current dev?

[2019-12-10 17:07] jlakhlili opened #177 "Setup requirements"
Update  `install_requires`  in **setup.py** (versions and  new external libraries): To be in step with **requirements.txt**.

[2019-12-10 17:21] jlakhlili commented on #177
Yes, it's better to read requirements in setup.py from requirements.txt file.

[2019-12-10 17:26] raar1 commented on #177
Hi @jlakhlili I've fixed this in PR #178 , and it seems to be passing all tests.

Have a look and see if you're ok with it

[2019-12-10 17:29] raar1 commented on #175
In order to fix Issue #177 I needed to raise Dask's version requirement to 2.7.0. The tests all still pass, and it avoids the problem in this issue.

Is there some reason we have to have Dask at 2.4.0?

[2019-12-10 17:38] raar1 commented on #108
I'm going to implement this using datacompy 0.6.0 now

[2019-12-10 22:42] jlakhlili commented on #177
Thanks @raar1. It looks better now.

[2019-12-10 22:42] #177 closed

[2019-12-11 13:55] velocirobbie commented on #172
This doesn't work for me, if cannonsim.cc is not up to date i get:
[code]

[2019-12-11 13:59] orbitfold commented on #172
o_O

[2019-12-11 14:01] orbitfold commented on #175
No, but wasn't there something about us wanting exact versions rather than >=? That's why I fixed the version to an arbitrary one that worked for me. But feel free to change if it works.

[2019-12-11 14:03] orbitfold commented on #172
What does it do if you go to tests/cannonsim/src and run make manually?

[2019-12-11 14:03] velocirobbie commented on #172
That works fine.....

[2019-12-11 14:15] orbitfold commented on #172
And after that if you rerun python setup.py install it still fails?

[2019-12-11 14:15] velocirobbie commented on #172
That's how i've got it to work

[2019-12-11 14:22] velocirobbie commented on #164
if you add in test_worker.py line:167
[code]
This does a bootstrap and works, if you change the qoi_col to something stupid it, you get an unhelpful KeyError:
[code]

[2019-12-11 14:36] velocirobbie commented on #162
No

[2019-12-11 14:36] #162 closed

[2019-12-11 15:23] raar1 commented on #175
Yeah, I've fixed it to 2.7.0 now. Should fix this issue.

[2019-12-11 15:23] #175 closed

[2019-12-11 15:24] #163 closed

[2019-12-11 15:29] raar1 commented on #154
Merged

[2019-12-11 15:29] #154 closed

[2019-12-12 14:05] velocirobbie commented on #172
I am an idiot, it was fine

[2019-12-12 14:05] #172 closed

[2019-12-12 14:07] orbitfold commented on #164
I can do it instead I guess since @raar1 is busy.

[2019-12-12 14:32] orbitfold commented on #164
See #179

[2019-12-12 16:02] orbitfold commented on #164
Can we close this after I merge the PR?

[2019-12-13 10:27] #164 closed

[2019-12-13 11:26] orbitfold commented on #113
https://pypi.org/project/rst2ipynb/
I'll try this.

[2019-12-13 11:28] orbitfold commented on #113
But what does "downloadable" mean?

[2019-12-13 12:39] raar1 opened #180 "Allow collation table to be cleared"
Sometimes users wish to be able to just wipe the collation table from the database. This could be implemented as a simple campaign method.

[2019-12-13 14:11] orbitfold opened #183 "Use conda-pack to create a relocatable conda environment?"
https://conda.github.io/conda-pack/

[2019-12-13 14:12] #180 closed

[2019-12-15 11:42] dww100 opened #186 "Dask example text ends confusingly"
The 'Notes and Workarounds' section just ends:

Is there supposed to be more text or is this just a typo?

[2019-12-16 08:05] orbitfold commented on #186
There are bigger problems with that text but yes, it's a typo.

[2019-12-16 13:58] orbitfold opened #187 "Create a google colaboratory for testing out EasyVVUQ?"
Could make a link to it first thing when people open this github page. Use the Jupyter notebooks we have generated from rst docs. I think it would make it seem more "real" and make a good first impression.

Might be of interest if we don't want to do this by hand:
https://stackoverflow.com/questions/50595831/google-colab-api

[2019-12-16 14:04] orbitfold commented on #113
I'll close this.

[2019-12-16 14:04] #113 closed

[2019-12-16 14:06] orbitfold commented on #183
I'm not 100% sure how much sense this make. One thing we definitely should do is explain the conda workflow in the documentation. Since not everyone is familiar with it.

[2019-12-16 14:09] orbitfold opened #188 "Better sales pitch?"
"The aim of this library is to facilitate verification, validation and uncertainty quantification (VVUQ) for a wide variety of simulations. This library is currently in an Alpha "friendly users" phase of development, with only a core number of UQ elements currently implemented."

I'm not sure how convincing it is or how well it explains the premise of EasyVVUQ. The opening statement should be stro

[2019-12-16 18:10] raar1 commented on #188
I think you're right. Perhaps we can also drop the "Alpha" statement now that it is (slightly) more mature?

[2019-12-16 18:13] raar1 commented on #187
How mature is that API nowadays?

[2019-12-17 10:20] orbitfold commented on #187
I've no idea. We don't have to use it. I doubt the basic tutorial will change very much and, while not ideal, uploading by hand takes only a couple of clicks.

[2019-12-17 11:35] orbitfold commented on #188
Yeah, it does sound a bit uninviting.

[2019-12-17 16:15] #186 closed

[2019-12-18 13:56] orbitfold commented on #187
So here is what we came up with. I think it's really cool:

https://colab.research.google.com/drive/1qD07_Ry2lOB9-Is6Z2mQG0vVWskNBHjr

[2019-12-18 14:34] orbitfold commented on #187
I have added a link to it to our git hub "front page"

[2019-12-18 17:27] raar1 commented on #188
We could always grab a bit of the intro from the Software release paper? I suppose that might sound better. Or would you rather keep it short and snappy?

[2019-12-18 17:29] raar1 commented on #187
Wow, that's really nice. Is there a lot of manual effort to convert the notebooks to that, or can we just automate it?

[2019-12-18 17:30] raar1 commented on #183
I think @velocirobbie is our resident conda expert.

[2019-12-18 21:38] orbitfold commented on #187
It wasn't that hard. I think it's possible to automate it.

[2019-12-18 21:40] orbitfold commented on #188
I think it should address these three points - what it does and who is it for and how it stands out.

[2020-01-02 11:06] velocirobbie commented on #183
Not sure why this is better than just having the requirements.txt? You have to have conda set up to use it so it doesn't make it much easier to set it up on a remote machine

[2020-01-06 09:40] orbitfold commented on #183
Well I guess the idea is that you have a package you can download and install anywhere without bothering to instally python or conda first. I'm not sure if it's worth the effort either.

[2020-01-07 17:16] arabnejad opened #189 "add input parameter for plot_grid()"
Hi EasyVVUQ dev team,
in the current implementation of `plot_grid` , there is not option to disable plot showing or save it as output file
I think that would be good if these option can be added as in the input parameters ?

[2020-01-07 19:54] orbitfold commented on #189
Which file is this function in?

[2020-01-07 19:58] orbitfold commented on #183
Are you referring to this: "While conda-pack requires an existing conda install, it can also be installed from PyPI:"? I think this is only true for the source machine, not for the target.

[2020-01-08 10:51] arabnejad commented on #189
Hi Vytautas @orbitfold
in this file `sc_analysis.py`

[code]

[2020-01-08 12:05] orbitfold commented on #189
Do you want to make a pull request or should I do it? I suppose an optional argument to specify the output file for the plot might be useful. @wedeling ?

[2020-01-20 09:38] jlakhlili commented on #189
I think that the `plot` should be done in the application side. The user can save results in the Data base, output file and or plot them.

[2020-01-20 11:00] wedeling commented on #189
Sorry for the slow reply, I'm on the road until the 22nd. I could add in an additional argument indeed to save the plot instead of showing it. On the other hand, there is something to be said to don't provide a plotting routine at all as @jlakhlili said. What do you think @arabnejad? Would you like to keep this routine?

[2020-01-20 18:22] arabnejad commented on #189
Hi @wedeling
My suggestion was based on the provided functionality and how to improve it for non GUI (because with the current version, user should close the plot window)
also, as @jlakhlili  said , we can add it to examples and leave it to the user
however, having this functionality would be better option :)
I already fixed it, if you want I can make a pull request (currently I am in Italy, so I

[2020-01-21 14:30] #187 closed

[2020-01-21 14:30] #183 closed

[2020-01-27 13:10] orbitfold opened #195 "Surrogate models?"
Should we try to implement those workflows simply via appropriate analysis classes? I'm thinking krigging as proof of concept. I don't know much about it though so would be nice if someone with an application would chip in.

[2020-01-27 13:36] wedeling commented on #195
There already is a simple surrogate model functionality in the SC analysis class (`surrogate` subroutine). Once all the samples are computed, the SC expansion is basically a polynomial approximation of the code output. It interpolates the code samples via Lagrange polynomials. We could implement the same thing for PC I think @jlakhlili?

[2020-01-27 13:45] wedeling commented on #195
I'm also working on different surrogate models for time-dependent problems, but I'm not sure if EasyVVUQ is the place to incorporate these, since it does not follow the same workflow of sampling the code a number of times, and computing some stats from the output.

[2020-01-27 14:09] orbitfold commented on #195
What workflow does it follow?

[2020-01-27 14:52] orbitfold commented on #195
That class is very monolithic. Wonder if there is a way to modularize that functionality a bit.

[2020-01-27 16:57] jlakhlili commented on #195
As I said in the VecmaTk telco. it's a good Idea.
The first draft that I can do with PC, it could be like @wedeling example. After that, I can also implement/interface something using Gaussian Processes.

[2020-01-27 18:20] orbitfold commented on #195
Also you probably would want to store the model for later use I guess? So maybe it's a good idea to think what is the best place for it. The database maybe?

[2020-01-28 09:00] jlakhlili commented on #195
Is it the case with CampaignBD?

[2020-01-28 09:25] wedeling commented on #195
I have a subgrid-scale source term in the large-scale equation, for which I have reference snapshots in time. The surrogate is trained on those snapshots, and it then replaces the subgrid scale source term in the large-scale equation. At every time step, the surrogate takes large-scale variables as input (features) and produces a value for the source term. I then integrate the system in time for a

[2020-01-28 09:26] wedeling commented on #195
That would be interesting, would you make the GPs part of EasyVVUQ?

[2020-01-28 09:28] wedeling commented on #195
Perhaps we could take out the Sobol indices part (which is quite large), and put it in a separate class?

[2020-01-28 09:29] wedeling commented on #195
The SC surrogate only needs the code samples to be stored.

[2020-01-28 12:38] jlakhlili commented on #195
I am thinking to start with a small example, and we can discuss about it in Poznan Hackathon.

[2020-01-28 12:40] jlakhlili commented on #195
I think that `COLLATION_APP1` contains already the samples data.

[2020-01-28 13:01] orbitfold opened #196 "Use binder for our tutorial notebooks?"
@velocirobbie pointed me to it and some other people said it's not bad

https://mybinder.org/

[2020-01-29 10:22] orbitfold commented on #195
how about I add a simple GP analysis class now and then we can further discuss it during the hackathon?

[2020-01-29 13:35] jlakhlili commented on #195
Please do it.

[2020-02-04 13:06] orbitfold opened #199 "EasyVVUQ cloud deployments via dask"
https://docs.dask.org/en/latest/setup/cloud.html

Probably a good idea to at least test how this would go.

[2020-02-07 14:03] raar1 commented on #117
This should be addressed (at least partially) by PR #200

[2020-02-14 09:16] #117 closed

[2020-02-14 09:24] raar1 opened #202 "Test coverage"
Is it worth adding a badge that indicates the percentage of the code base that is currently covered by the tests? Maybe something like [https://coveralls.io/](https://coveralls.io/). That could help pinpoint areas which aren't being tested, or in any futute refactor of the tests etc.

What do you think, Testing Tsar @orbitfold ?

[2020-02-14 10:23] raar1 opened #203 "CII Best Practices"
This might be worth a try as well:
[https://bestpractices.coreinfrastructure.org/en](https://bestpractices.coreinfrastructure.org/en)

It's essentially self-assessed, but we already meet most of the basic requirements. It can also act as a good checklist to make sure the repo/code is accessible to outsiders.

[2020-02-14 12:37] orbitfold commented on #202
I approve.

[2020-02-14 16:12] raar1 commented on #202
OK I've set it up. You can see its output at e.g. [https://coveralls.io/github/UCL-CCS/EasyVVUQ?branch=dev](https://coveralls.io/github/UCL-CCS/EasyVVUQ?branch=dev).

Right now it's 25%, but tbh that's what I was expecting. I think it's useful that it shows you what lines in what source files aren't tested etc, so you can at least make sure critical stuff has tests first.

[2020-02-14 16:12] #202 closed

[2020-02-25 10:59] orbitfold commented on #203
can you make me repo owner pretty please ;)

[2020-02-29 15:34] raar1 commented on #203
I suppose this is the final stage in your ascent to Full Tsar?

[2020-03-03 10:00] orbitfold commented on #203
Full Tsar is only the beginning.

[2020-03-17 11:28] fjansson opened #204 "Database file created in /tmp despite db_location argument"
The EasyVVUQ database file gets created in /tmp, and specifying alternative location does not work. /tmp is fine for testing but bad for production use, as files there may be automatically cleaned.

The /tmp location is set in campaign.py, line 217, unless db_location is specified.
[code]
The Campaign object takes a db_location argument, but it is overwritten here: https://github.com/UCL-CCS/EasyV

[2020-03-17 12:13] fjansson commented on #169
Part of this issue was solved with a chaospy update. Here's a summary of the current state.

**Solved**: chaospy fixed non-integer points in quadrature rules, specifically with joint distributions, in version 3.2.1.  Discussion in https://github.com/jonathf/chaospy/issues/188

* We should update the chaospy version in requirements.txt to at least 3.2.1.
 ( I have tested EasyVVUQ with chaospy 3.2.1

[2020-03-17 15:13] raar1 commented on #204
Thanks for spotting this. Could you pull down the branch in PR #206 and check if the changes have fixed the problem?

[2020-03-17 15:32] fjansson commented on #204
Testing the branch from PR #206. If I provide a *file name* to `db_location`, it works and the database is created in that file. I'd say the worst part of the bug is fixed.

Some remaining annoyances:
* the default is still /tmp
* one has to provide a file name as `db_location`, a directory is not enough.
* one has to make up a new unique name for the db_location, otherwise old databases get silen

[2020-03-17 16:05] raar1 commented on #204
Thanks for testing. Yes, what you want it to do is actually what it is supposed to be doing. It appears there was a bug in the db_location setting that meant the campaign db was not being stored in the campaign dir. I think I've fixed that now (at least, when I tested it, the campaign dir was appearing in my local directory, and it contained the db).

Can you try with the new version of the PR bra

[2020-03-17 17:26] fjansson commented on #204
It seems to be working nicely if I don't specify a db_type, with neither work_dir nor db_location, or with just work_dir.

With db_type='json', the database still ends up in /tmp, unless I provide db_location.
I think the code that needs changing is in campaign.py, around line 217.

[2020-03-17 18:47] raar1 commented on #204
Thanks again for testing this out. I have made further changes, so that the json db should now be getting stored in the same location as the sql one (i.e. in the campaigns dir where it should obviously go). In the process I found and fixed another bug to do with the json db not saving its state to file upon adding a sampler (although this is not relevant to your issue here). Hopefully we have exor

[2020-03-18 10:36] fjansson commented on #204
Now it works well also with the json db. Thanks!

[2020-03-18 11:52] raar1 commented on #204
Thanks for your help with this. Please let me know if/when anything else comes up.

[2020-03-18 11:52] #204 closed

[2020-03-18 16:08] fjansson opened #209 "Vector-valued QoI"
The JSON decoder supports vector-valued QoI, one in JSON one can simply assign a list of values to a variable.

The analysis functions do not handle vector QoI yet. Part of the problem is the representation of vectors in the pandas dataframe - currently vectors are stored as strings.

Test case proposal: https://github.com/UCL-CCS/EasyVVUQ/pull/208

[2020-03-20 16:53] orbitfold commented on #209
I have investigated a bit. And right now I think that this is caused by the way pandas DataFrame.to_sql method handles things. Which we cannot really change. So what we need to do is probably re-implement how vector quantities are stored in data frames and pray that then that method works.

[2020-03-20 17:05] #203 closed

[2020-03-25 19:15] #131 closed

[2020-03-26 14:03] orbitfold opened #213 "No option to use an in-memory SQLalchemy database..."
This would be very useful for testing purposes since it would not litter the disk with useless files.

[2020-03-26 14:48] orbitfold commented on #213
Ok, sorry my bad - there is a way to specify it. We just need to change the tests to use this instead of the default.

[2020-03-26 14:58] orbitfold opened #214 "Post-test cleanup"
Currently the tests create a lot of crap that should be removed after testing.

[2020-03-26 15:22] #213 closed

[2020-03-27 13:59] #214 closed

[2020-04-08 10:51] orbitfold opened #218 "Fix the issue where json db does not store multi-indexed data frames properly"

[2020-04-14 13:21] fjansson commented on #218
Here is an example dataframe, generated with the test_vector.py testcase which uses the json database. The problem is the "numbers" columns, which should be indexed with tuples.

[code]

When using the default sql database, the dataframe looks like this:
[code]
...which is also wrong, because the indices in this case are strings: `"('numbers', 7)"`.

[2020-04-22 08:11] orbitfold opened #220 "Remove JSON db?"
It will takes considerable effort to maintain it with the more advanced features such as vector qoi, etc. Should we keep it or remove it? I think I'm in favour of removing it even though it would mean I just wasted a lot of time writing tests for it.

[2020-04-22 08:23] jlakhlili commented on #220
SQL db in my opinion is sufficient.

[2020-04-22 11:50] orbitfold commented on #218
Solved with #220, will need to look in to the SQL case now.

[2020-04-22 11:50] #218 closed

[2020-04-22 13:28] #220 closed

[2020-05-04 15:37] orbitfold opened #225 "Incorporate some kind of verification elements into the decoder"
A lot of statistical analysis depends on assumptions on data. Might make sense to look in to adding some testing for the decoded data.

[2020-05-15 15:39] orbitfold opened #229 "Docstring revamp"
Right now the API documentation is god awful. That needs to change. To this end each method and class needs to be documented following the numpy format:

https://numpydoc.readthedocs.io/en/latest/format.html
https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html#example-numpy

Also appropriate links need to be added to modules in the api section.

See this (very incomplete) mes

[2020-05-15 15:44] orbitfold commented on #209
Can we close this?

[2020-05-18 11:54] fjansson commented on #209
I'll test again, will let you know. It may take me a couple of days, I have to do something else first.

[2020-05-19 11:56] orbitfold opened #230 "Add a contribution guidelines document"
Self explanatory

[2020-05-19 13:04] raar1 commented on #108
This seems to be more than settled by e.g. [https://github.com/UCL-CCS/EasyVVUQ/blob/dev/easyvvuq/comparison/validate.py](https://github.com/UCL-CCS/EasyVVUQ/blob/dev/easyvvuq/comparison/validate.py)

[2020-05-19 13:04] #108 closed

[2020-05-19 14:57] jlakhlili opened #231 "Improve Analysis run time"
The calculations in Analysis part can take quite a long time especially using a large number of parameters. This part is not optimized and it is still serial unlike the execution part witch can be parallelized using Dask or QCG-Pilot Job.
Here is some ideas for improvements:
- Parallelization: use QCG-PJ like for the Encoding and the Execution @bartoszbosak.
- Is it still good to recall `cp.genera

[2020-05-19 18:33] wedeling commented on #231
How many parameters are you using? In the SC case the quadrature method becomes a bottleneck, but I think I can improve it, without parallelisation.

[2020-05-19 19:53] jlakhlili commented on #231
I used 8 parameters, but I think that @DavidPCoster had bottleneck with 5 (3125 samples).

[2020-05-21 08:52] DavidPCoster commented on #231
The reduced fusion model is quite fast:

98.7 ms += 11.8 ms per loop (mean +- std. dev. of 7 runs, 10 loops each)

and so now everything else is the bottleneck.  Using PCE with 5 varying parameters:

[code]
(there are some repeats to get a sense of the variability in timings).

[2020-05-21 08:55] DavidPCoster opened #232 "Bring in the fusion example"
Tracker for brining in the fusion example.

[2020-05-21 15:34] DavidPCoster commented on #232
Currently in progress at https://github.com/DavidPCoster/EasyVVUQ/tree/fusion

[2020-05-22 14:27] DavidPCoster commented on #231
Here is the output from doing

%prun old_campaign.apply_analysis(uq.analysis.PCEAnalysis(sampler=old_campaign.get_active_sampler(), qoi_cols=["te", "ne", "rho", "rho_norm"]))

[PCE.analysis.profile.txt](https://github.com/UCL-CCS/EasyVVUQ/files/4668601/PCE.analysis.profile.txt)

[2020-05-22 14:31] DavidPCoster opened #233 "Making EasyVVUQ available via anaconda?"
Is there interest in making EasyVVUQ available via anaconda?

The procedure described at

https://docs.anaconda.com/anaconda-cloud/user-guide/getting-started/

doesn't seem to be too complicated ...

[2020-05-25 11:17] orbitfold commented on #233
Ok, I will look to see if this can be done easily enough. Also would be nice if it is possible to write a github workflow that would do this automatically for each release. Like we have now for pypi.

[2020-05-25 13:12] DavidPCoster commented on #232
Integrated.

[2020-05-25 13:12] #232 closed

[2020-05-26 06:06] DavidPCoster commented on #233
"How to Setup Automatic Uploads to Anaconda from Travis CI in 15 minutes"
https://gist.github.com/zshaheen/fe76d1507839ed6fbfbccef6b9c13ed9

[2020-05-26 10:05] orbitfold commented on #231
Analysis what? The issue should be edited to make it clearer which analysis classes you are talking about. I am assuming SC. That being said, yes, do profiling. Parallelising should be done as a last resort. I think the SC code can be still greatly improved in terms of a) efficiency b) clarity and c) testing and verification.

[2020-05-26 10:08] jlakhlili commented on #231
I'm talking about PCEAnalysis, but SCAnalysis should have the same behaviour as far we are using chaospy with pandas dataframe...

[2020-05-26 10:17] orbitfold commented on #231
https://jiffyclub.github.io/snakeviz/
This might help to better understand where most of the time is spent. You need to create a profiler output for it, for example like so:

python -m cProfile -o output_file.prof somescript.py

edit: also maybe you can try this https://github.com/jrfonseca/gprof2dot

[2020-05-26 11:41] orbitfold commented on #233
so doing that merely results in this: https://anaconda.org/orbitfold/easyvvuq

Which I'm not sure accomplishes what. If you want to do `conda install something` you need to add to a channel which I think you need to do via conda-forge  https://conda-forge.org/#add_recipe

[2020-05-26 12:00] orbitfold commented on #233
I'll try to ask around for advice from people who have done this.

[2020-05-26 13:43] orbitfold commented on #233
Ok, apparently it should be possible to install it with `conda -c orbitfold easyvvuq` but I need to add a meta.yaml file and somehow automate the build procedure, probably similar to what @DavidPCoster posted. We don't do this from Travis though, we use github actions: https://github.com/features/actions

[2020-05-26 14:06] orbitfold commented on #233
I managed to make it at least find it via `conda -c orbitfold easyvvuq` but there is an issue with some packages that are only available via pip and not on anaconda.

[2020-05-26 14:13] orbitfold commented on #233
https://stackoverflow.com/questions/37541084/cant-specify-pip-dependency-in-conda-meta-yaml-file

It's starting to look like it's more trouble than it's worth.

[2020-05-26 14:25] orbitfold commented on #233
And of course you have to manually add all the dependencies:

"RuntimeError: Setuptools downloading is disabled in conda build. Be sure to add all dependencies in the meta.yaml  url=https://pypi.org/simple/scikit-learn/"

Although I think it should be possible to write a script that takes requirements.txt or something

[2020-05-26 14:37] orbitfold commented on #233
I have found an easier way which is to do:

`conda skeleton pypi easyvvuq`
`conda build easyvvuq`

The first line creates a meta.yaml file by fetching info from pypi and the second attempts to build it. However it does not work because conda only contains outdated versions of, for example, salib and does not contain some packages at all. So we would have to build and probably maintain those packag

[2020-05-26 14:47] orbitfold commented on #233
So, thoughts?

[2020-05-26 15:06] jlakhlili commented on #231
It seems the chaospy calls cost a lot:
![Screenshot from 2020-05-26 16-40-28](https://user-images.githubusercontent.com/16169832/82917110-3fe13280-9f73-11ea-9cba-69cba44e3425.png)

[2020-05-26 15:26] orbitfold opened #236 "Get rid of the master branch?"
I can delete it and rename dev to master. It does not seem to provide any benefits and it can and did cause confusion.

[2020-05-27 15:14] LourensVeen commented on #233
I think you can install using pip in a Conda environment, right? If EasyVVUQ is all Python, what would a Conda build add?

[2020-05-27 17:23] DavidPCoster commented on #233
conda keeps a list of items that it installed, as does pip --- the system seems to get a bit confused  if you mix the two with sometimes conflicting requirements ...

See https://www.anaconda.com/blog/using-pip-in-a-conda-environment

But, yes, it is possible to pip install in an anaconda environment...

[2020-05-28 07:28] LourensVeen commented on #233
Ah, fair enough. And pip doesn't need any help to get confused anyway...

I don't use Conda much, but I am planning on getting MUSCLE 3 into Conda Forge, and if I have to add and maintain the dependencies as well then so be it. But MUSCLE 3 is a native library, and the alternative for C++ and Fortran is to compile from scratch. Conda really adds something there. For EasyVVUQ, there's pip as an alt

[2020-05-28 09:08] orbitfold commented on #233
So hopefully it wont take any effort. If I can get that github action to work.

[2020-05-28 11:44] orbitfold opened #238 "Move testing to github actions?"
We already use them for package deployment to pypi and conda cloud. Would be more consistent to also use them for testing.

[2020-05-28 15:12] orbitfold commented on #233
I guess I can close this now?

[2020-05-28 16:10] DavidPCoster commented on #233
Thanks again!  Great job ...

[2020-05-28 16:10] #233 closed, assigned to orbitfold, jlakhlili

[2020-05-29 10:00] raar1 commented on #236
Not opposed, but in such a case I would strongly suggest you add a rule preventing anything being merged which is breaking the tests (as a bare minimum). Contributions should be sitting as PRs until the changes have been reviewed and all tests are passing, otherwise things will get messy.

[2020-05-29 11:50] orbitfold commented on #236
Yeah, they should shouldn't they. It's a bit hard to convince people to work that way. One option would be to remove everyone's write access. Not sure how well that would go down.

[2020-05-29 11:54] raar1 commented on #236
I think adding a rule here might be enough to enforce it: https://github.com/UCL-CCS/EasyVVUQ/settings/branches
We already have one protecting the master branch (although only for PR reviews). I think it's possible to tie it to the test results too.

[2020-05-29 12:03] orbitfold commented on #236
Ah brilliant. I can then begin slowly tightening the noose.

[2020-05-31 14:35] wedeling commented on #231
I think I can improve the analysis quadrature in the SC method, but I'm now running into issues with a very long collation time. I think this is because we store the variables in the data frame as well, which is not required in the SC analysis. The problem is that I have a code now which has  many inputs (approx 900), but I only vary about 10 or 20. I also have a vector-valued QoI of 700 points, s

[2020-06-02 08:05] jlakhlili commented on #231
@wedeling In PCE, we don't use parameter values for the analysis,
But in PCE the greedy part is the Sobol calculations. We use chaospy in this case.
Maybe we can use your routines, in this case we have to externalise them from SCAnalysis etc..

[2020-06-02 10:38] #236 closed, assigned to nobody

[2020-06-02 10:39] #225 closed

[2020-06-02 10:43] #188 closed

[2020-06-04 10:55] wedeling opened #243 "Chaospy 3.2.10 breaks the dimension adaptive sampler"
The new version of chaospy  changes the quadrature weights, at least for the uniform distribution:

New chaospy 3.2.10, quad weight for uniform dist, order 0 and 1
[code]
Old chaospy (3.0.17), quad weight for uniform dist, order 0 and 1

[code]
Note that in the new version the weights are zero at the edges for order 1. Similar behavior occurs at higher order. With these new weights the dimension a

[2020-06-04 11:39] jlakhlili commented on #243
@wedeling Yes, I have the same error. But, it's fine when I do:

[code]
We have to report this to @jonathf and create an issue in chaospy repo.

[2020-06-04 11:48] jlakhlili commented on #243
Beside this issue, when we want to use `fit_quadrature`, it's important to know the polynomial order that we have to use regarding the quadrature order. But, the argument **order** in `cp.generate_quadrature` is a bit confusing. I don't know if it correspond to "polynomial_order" or "polynomial_order+1", etc... For example, in uncertainpy, they use "polynomial_order+2"!

[2020-06-04 12:11] wedeling commented on #243
@jlakhlili OK thanks. We can report this. In the mean time I'll revert to using 3.0.17.

If you want a surrogate of poly order p, you need p+1 points, so that's why they use polynomial_order p+1 I think. As we discussed before, perhaps its better to just rename
polynomial order to quadrature_order, which is more consistent.

[2020-06-04 12:46] jonathf commented on #243
A fix should now be in place solving both of the quadrature problems in Chaospy version 3.2.12.

[2020-06-04 13:23] wedeling commented on #243
@jonathf Thanks! I'll test it

[2020-06-04 13:27] wedeling commented on #243
It worked, thanks again

[2020-06-04 13:27] #243 closed, assigned to orbitfold, wedeling, jlakhlili

[2020-07-17 09:59] bartoszbosak opened #255 "`sampler` vs. `sample` - inconsistency"
Once I tried to employ the filtering over sampler type in the `list_runs()` I've got the following error:
`sqlalchemy.exc.InvalidRequestError: Entity '<class 'easyvvuq.db.sql.RunTable'>' has no property 'sampler'`

After short investigation, I've realised that there is some inconsistency: It looks like everywhere in the core code of the easyvvuq the name `sampler` is used, but inside the `RunTable

[2020-07-20 15:19] FGugole opened #257 "homogeneity within samplers in writing numerical parameters"
Not long ago I switched sampler for my campaign without changing the distributions or the uncertain parameters involved and in doing this I stumbled upon an annoying error.

The error was due to one of the parameters representing the seed for the pseudo-random number generator. I use the chaospy DiscreteUniform distribution and I set the seed variable to be of type float (otherwise I was getting a

[2020-07-29 11:34] jlakhlili commented on #255
@orbitfold  do you had a special reason for the difference between `RunTable` and the core code concerning `sample/sampler` entry or is it just a naming mistake?
I think, @bartoszbosak needs to have `sample` as filter, with consistency, to manage `multi_campaign` interface in [EasyVVUQ-QCGPJ](https://github.com/vecma-project/EasyVVUQ-QCGPJ/tree/dev-multi-app).
He already did a correction there: ht

[2020-07-29 12:07] orbitfold commented on #255
Please change it to sampler. There seems to be a typo in the SamplerTable class where the `__tablename__` attribute seems to be set to sample. I think it should be sampler. So please change it accordingly making sure it is consistent with the rest of the code base. Or if you want me to do it I would like to do it after the Kubernetes PR since it is very big.

[2020-07-30 11:23] #255 closed, assigned to orbitfold, jlakhlili

[2020-08-03 12:31] #199 closed

[2020-08-03 12:32] #90 closed

[2020-08-03 12:33] orbitfold commented on #229
I'm closing this since I feel this issue does not really have a clear solution.

[2020-08-03 12:33] #229 closed

[2020-08-06 16:01] YehorYudinIPP opened #262 "Uniformity in support for multivariate distributions among Samplers"
I would be nice to have the ability to pass a 'vary' parameter for every sampler with keys describing a joint distribution.

For some time I was using the` PCESampler` with parameters with a multivariate distribution.  For instance, I could pass the `vary` for 3 parameters with 2-dimensional multivariate distributions in the following form:

`
{'te.value': J(Normal(mu=2875.60131987301, sigma=575.1

[2020-08-11 09:39] jlakhlili commented on #262
The issue here is more about the type of parameters.
Only PCE support `lists`.  We have to generate it.
For the moment you can split your list on scalars. The multivariate distribution will be build by the sampler.

[2020-08-12 12:50] guy1ziv2 opened #263 "Error in example Colab"
The Colab example https://colab.research.google.com/drive/1qD07_Ry2lOB9-Is6Z2mQG0vVWskNBHjr gives an error during execution:
`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-16-b7702a541f31> in <module>()
----> 1 my_campaign.collate()

8 frames
/usr/local/lib/python3.6/dist-packag

[2020-08-12 13:37] guy1ziv2 commented on #263
Seems like in several places the code assumes two columns in output.csv ["te", "ti"] whereas the cooling model only produces "te" column...

[2020-08-12 13:46] orbitfold commented on #263
The tutorial is outdated. I have been working hard on a new one and I will put it up soon enough I hope. But thank you very much for your interest! Can I ask what you want to use EasyVVUQ for? The project is in early stages still and we are looking for use cases to accommodate... So if I can understand yours I can make sure you get the most use out of EasyVVUQ.

[2020-08-12 14:01] guy1ziv2 commented on #263
We are using simple ecosystem models (https://github.com/natcap/invest , developed by Natural Capital Project where I was Lead Scientist before moving to UK in 2003) and want to explore their global sensitivity to parameters representing specific biophysical characteristics of different land covers (e.g. depth of roots for wheat). These are stored in a CSV file, and the model which is determinstic

[2020-08-12 14:14] guy1ziv2 commented on #263
What I am missing in EqayVVUQ is anything like History Matching or ABC to allow narrowing support of parameters or get a posterior parameters estimation based on observations. Is that planned for EasyVVUQ?

[2020-08-12 14:34] orbitfold commented on #263
If you have the patience to work with us on this then yes. I would need to know what kind of workflow you would expect from this. It would be of tremendous help if you could just write down some Python pseudocode detailing how you would run this. Preferably in a new issue. I am not overly familiar with history matching but from a cursory read I think it would definitely worthwhile to at least see

[2020-08-31 15:06] orbitfold opened #269 "Should we rename quasi montecarlo to variance-based sensitivity analysis?"
I mean it is not some general quasi Monte Carlo method or framework. So it might be confusing to people.

[2020-08-31 15:19] orbitfold commented on #269
Or maybe the Sobol method or something like that.

[2020-09-11 08:02] wedeling commented on #269
Yes the way it is implemented it always runs N = n_mc*(n_params + 2) samples, instead of the n_mc specified by the user. Same for the MCSampler. So we could rename, or introduce a flag that switches between n_mc and N samples.

[2020-09-11 08:05] wedeling commented on #269
Also the QMC sampler always uses Sobol sequences for the sampling plan. Other quasi-random sampling plans are not implemented in the current version.

[2020-10-08 12:26] raar1 opened #274 "Make CITATION.cff authors list more inclusive"
I think the CITATION.cff file should probably contain a relatively inclusive list of authors. At the very least everyone who has contributed to the repo (of course) but probably also people who have done a lot of testing/issues/discussion work that has contributed to the design.

Any thoughts on that?

[2020-10-26 09:18] jlakhlili opened #277 "Analysis results: QoI vectors case"
There is an issue if the QoI is a vector. The function `describe` returns just the first value of the moments.
https://github.com/UCL-CCS/EasyVVUQ/blob/dev/easyvvuq/analysis/pce_analysis.py#L78
Here is an example with cooling model:

Describes give this:

[code]

Each result should be a vector also.

[code]

[2020-10-27 12:13] #277 closed, assigned to jlakhlili

[2020-11-23 18:45] jlakhlili commented on #262
As discussed with @orbitfold and @wedeling in #easyvvuq Slack channel, vector inputs do not make sense.
So, PCE sampler will not support anymore list.

[2020-11-30 14:37] orbitfold opened #286 "Write a tutorial on the new analysis results class"

[2020-11-30 14:38] orbitfold opened #287 "Write an introduction to sensitivity analysis"

[2020-11-30 14:38] orbitfold commented on #238
This is done.

[2020-11-30 14:38] #238 closed, assigned to nobody

[2020-11-30 14:39] orbitfold commented on #149
This is no longer relevant with the new collation system.

[2020-11-30 14:39] #149 closed

[2020-11-30 15:28] jlakhlili commented on #287
References:
1.  I. M. Sobol. Sensitivity estimates for nonlinear mathematical models. Mathematical Modelling and Computational Experiments, 1:407–414, 1993.
2. T. Homma and A. Saltelli. Importance measures in global sensitivity analysis of nonlinear models.
Reliability Engineering & System Safety, 52(1):1–17, 1996.

[2020-11-30 15:32] #262 closed, assigned to jlakhlili

[2020-12-09 14:38] orbitfold opened #291 "Some paths are unchanged after calling relocate"
e.g. the database location, the template paths in the encoders, maybe some others

[2021-01-25 12:24] #291 closed, assigned to nobody

[2021-01-25 12:25] #286 closed, assigned to nobody

[2021-01-25 12:25] #189 closed

[2021-01-25 12:25] #195 closed

[2021-02-06 21:53] mbaudin47 commented on #287
I suggest a few more recent references on the topic.
* M.J.W. Jansen, 1999, "_Analysis of variance designs for model output_", Computer Physics Communication, 117, 35–43
* "_Making best use of model evaluations to compute sensitivity indices._" Saltelli, A.  Computer Physics Communication, 2002, 145, 580-297.
* "_Sensitivity Analysis in Practice: A Guide to Assessing Scientific Models_", Andrea Sa

[2021-02-08 10:45] #269 closed, assigned to nobody

[2021-02-08 10:45] #196 closed

[2021-02-08 10:45] #209 closed

[2021-02-08 12:45] DavidPCoster commented on #269
Do we want to generalise it too offer other possibilities?  Or to rename it so that it doesn't seem to offer more than it actually delivers?

[2021-02-11 15:41] #263 closed, assigned to nobody

[2021-02-17 17:26] #231 closed

[2021-02-23 14:43] tjdodwell opened #318 "Read initial runs from file"
Hi All,

Working with EasyVVUQ for the first time - https://github.com/tjdodwell/VECMA-hackathon

Sorry for the basic questions, but I can't see in an example how parameters for set of runs can be read in from a file / dataframe. Examples seem to define distributions for parameters.

Thanks in advance.

Tim

[2021-02-23 14:56] orbitfold commented on #318
Hello Tim, can you describe your use case a bit? If you want we can have a call about it.

[2021-02-23 15:03] tjdodwell commented on #318
We are using easyvvuq to manage the runs of computer simulation (in this case 1D heat equation for testing).

Here is a bit of the simple example.

[code]

Instead of using PCESampler - we would like to define the samples manually define in what ever is the most convenient way (csv file, numpy array, data frame - what ever). This is because all the code we have for the statistical analysis for seq

[2021-02-23 15:09] orbitfold commented on #318
I could write some kind of a "CSVSampler" that takes values from a CSV file I suppose. It's a matter of a couple of hours if you really need it. I am a bit confused though. Do you want to use EasyVVUQ simply for execution? What will you do with the results? Do you want them in a CSV file as well?

[2021-02-23 15:23] tjdodwell commented on #318
@orbitfold thanks for your quick reply!

Yes we are using it to handle execution of an ensemble of run - for now for test problems - but later for large scale simulation. We will then use the runs to build an emulator of the computer model using another package "mogp" (developed at Turing in another of our projects). We will then have a number of cycles of experimental design (i.e solving new para

[2021-02-23 15:29] orbitfold commented on #318
Ok, the CSVSampler I will prepare. However, for mogp, why not create an EasyVVUQ analysis class? I can do that as well. Since we already have some initial work with regards to Gaussian Processes I can look at wrapping mogp as well. We currently use scikit learn for this, where GP support seems quite basic.

[2021-02-23 15:38] tjdodwell commented on #318
That is super helpful - thank you!

linking mogp would be great (for me!) - others at Exeter use the R version of mogp and or other packages. So both would be useful, so help all possible uses!

[2021-02-24 10:30] orbitfold commented on #318
@tjdodwell There is now a easyvvuq.sampling.CSVSampler, see if it suits your needs, let me know if you need any changes. I just did very basic tests.

[2021-02-24 11:03] tjdodwell commented on #318
Thank you so much. I will have a go this afternoon, and get back to you!

[2021-03-31 14:15] orbitfold commented on #318
@tjdodwell any updates on this?

[2021-06-08 06:58] DavidPCoster opened #348 "is "encoder_decoder_tutorial.ipynb" supposed to be runnable?"
If I try to run this notebook, I get

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-5-f0faa4b81c8e> in <module>
----> 1 copy_encoder = uq.encoders.CopyEncoder("source.txt", "root/folder1/target.txt")

/Volumes/Samsung8TB/dpc/GIT/EasyVVUQ/env/lib/python3.9/site-packages/easyvvuq-

[2021-06-08 07:23] DavidPCoster commented on #132
@orbitfold -- do we want to create a new sql  table to store the results?  If so, which results?

[2021-06-08 07:54] orbitfold commented on #132
Post decoder results are already stored in the runs table as JSON. I think we can close this.

[2021-06-08 07:55] orbitfold commented on #348
It's not supposed to be runnable. I will see if I can make those cell un-evaluatable

[2021-06-08 08:16] raar1 commented on #132
I think this was from a hackathon discussion 2 years ago and the design has changed greatly since then. Seems like it is satisfied in the current version, in any case, so I agree to close.

[2021-06-09 07:04] DavidPCoster opened #349 "How up-to-date are the docs in EasyVVUQ/docs/source/ ?"
Do we need to go through the rst files in  EasyVVUQ/docs/source/ to see what is still valid?

At least
   EasyVVUQ/docs/source/restartable_campaign_tutorial.rst
seems to be outdated.

Or should we add a README saying that that at least some of the information might be wrong?

[2021-06-09 07:24] orbitfold commented on #349
I have removed the links to those tutorials from readthedocs some time ago

[2021-06-09 08:03] DavidPCoster commented on #349
But people browsing the repository could still find these files and think they are relevant ...

[2021-06-09 09:04] orbitfold commented on #349
I would favor removing them but did not want to do that since maybe someone still want to work or keep them up to date. If the author wants to remove it then I am all for it.

[2021-06-09 12:52] orbitfold commented on #348
that seems to be easier said than done

[2021-06-09 12:55] DavidPCoster commented on #348
I found and implemented a solution in the changes that were just merged with dev.

(Basically a try/except)

[2021-06-09 13:00] orbitfold commented on #348
There is the option of adding
%%script false --no-raise-error
to the start of each cell, but looks ugly. Better than having to add explicit try excepts everywhere though I guess.

[2021-06-09 13:01] DavidPCoster commented on #348
It was only one cell that needed this ...

[2021-06-09 13:03] orbitfold commented on #348
Ok I compromised and added it only to the cells that fail.

[2021-06-09 15:22] orbitfold commented on #349
ok seeing that the particular one you mention seems to be unmaintained by anymore I will delete it

[2021-06-09 15:30] #348 closed, assigned to nobody

[2021-06-09 15:30] #132 closed

[2021-06-09 15:31] orbitfold commented on #318
I'm closing this.

[2021-06-09 15:31] #318 closed, assigned to nobody

[2021-06-09 15:31] #257 closed, assigned to orbitfold

[2021-06-09 15:36] raar1 commented on #148
@orbitfold This is also some absolutely ancient issue from very early discussion on "multiscale" capabilities in easyvvuq. I suggest we close this, unless there is really some intention to add such a feature?

[2021-06-09 15:48] orbitfold commented on #148
I'm all for it.

[2021-06-09 20:44] #148 closed

[2021-07-22 09:30] FGugole opened #355 "only up to v0.6 available on conda"
I was installing easyvvuq using conda (on Windows) and realized that the latest version available there is v0.6
that is quite a bummer since the latest version is v1.0 and there is quite a big difference between the two versions
![conda_easyvvuq](https://user-images.githubusercontent.com/57520908/126618005-49a90f87-2412-49bc-aefb-ebd8cd420a7f.png)

[2021-07-22 09:33] orbitfold commented on #355
Yes, we have dropped Anaconda support since Continuous Deployment to Anaconda is a nightmare - it has a very complex and hard to debug package build system. Also there are constant issues with dependencies since a lot of packages have outdated Anaconda packages. If someone wants to bring it back I might have some tips. But I'm not building conda packages by hand every time.

[2021-07-22 09:36] FGugole commented on #355
Got it. Pity though.
Thanks for the fast reply!

[2021-07-22 09:36] #355 closed, assigned to nobody

[2021-07-22 09:38] orbitfold commented on #355
Is pip not sufficient for your case?

[2021-10-19 13:01] JonMcCullough opened #357 "Incorrect dependency versions?"
Running 'pip3 install easyvvuq' failed for Python 3.6 with the following error message:

Collecting chaospy==4.3.2 (from easyvvuq)
  Could not find a version that satisfies the requirement chaospy==4.3.2 (from easyvvuq) (from versions: 2.0, 2.1.1, 2.1.2, 2.1.3, 2.1.4, 2.2.0, 2.2.1, 2.2.2, 2.2.3, 2.2.4, 2.2.5, 2.3.2, 2.3.3, 2.3.4, 2.3.5, 3.0.0, 3.0.2, 3.0.3, 3.0.4, 3.0.5, 3.0.6, 3.0.7, 3.0.8, 3.0.9

[2021-10-20 12:38] orbitfold commented on #357
Hi, only Python 3.7 onwards is supported... I will update the README.

[2021-10-20 12:49] JonMcCullough commented on #357
Thanks for the clarification. I'll update to 3.7 on my machine.

[2021-10-25 07:30] #357 closed, assigned to nobody

[2021-12-07 15:23] d7919 opened #359 "Possible minor bug in determining location of runs in campaign when `work_dir` not set"
With EasyVVUQ v1.1 installed through pip I found that when not specifying `work_dir` to `Campaign` that whilst my campaign database appeared in a sub-directory of the current working directory, the runs appeared under `/tmp`.

I think the issue is with the below line, which I think should use `self.work_dir` rather than `work_dir`?

https://github.com/UCL-CCS/EasyVVUQ/blob/fac0b5701db2fefed00b6a81

[2021-12-07 15:32] d7919 commented on #359
Possibly also applies to https://github.com/UCL-CCS/EasyVVUQ/blob/dev/easyvvuq/campaign.py#L220

I'm just getting up and running with the code so may be misunderstanding the intent here, but the change given in PR #360 does seem to change runs from appearing under tmp to the expected location under the current directory in my setup.

[2022-05-30 15:26] kbronik2017 opened #368 "an issue using a Quasi-Monte Carlo sampler"
Hi

An issue using a Quasi-Monte Carlo sampler with discrete uniform (values from ChaosPy distributions)

For example, consider the following scenario:

params = {
    "X": {"type": "integer", "min": 0, "max": 20, "default": 10},
    "Y": {"type": "integer", "min": 0, "max": 30, "default": 20},
    "out_file": {"type": "string", "default": "output.csv"}
}

vary = {
    "X": cp.DiscreteUniform(1, 1

[2022-05-30 16:19] DavidPCoster opened #369 "campaign.recollate() produces an error; is there a more elegant solution for delayed collation (or recollation) than the hack used below?"
Using campaign.recollate() produces the error

'Campaign' object has no attribute 'collate'

as shown in

![Screenshot 2022-05-30 at 18 09 39](https://user-images.githubusercontent.com/40796322/171029649-7aa4261e-2302-44cd-8bba-67743b786ba8.png)

Indeed collate now seems to be part of actions/action_statuses.py,

[code]

Is there any clean way of recollating (or collating at a later stage)?

I am

[2022-05-30 16:33] DavidPCoster opened #370 "should we complete the removal of state_file?"
`grep -R -C3 state_file easyvvuq/` shows that state_files still seems to be an(optional) input to campaign, but doesn't seem to be used:

[code]
If that is true, then shouldn't it be removed completely?

[2022-05-30 20:12] orbitfold commented on #370
Yes, it should be removed.

[2022-05-30 20:22] orbitfold commented on #369
What is the use case here?

[2022-05-31 07:04] DavidPCoster commented on #369
I first encountered the problem when analysing a crash somebody was experiencing, which was related to the first element of the vector (for every sample) being identical, and thus having a variance of zero.  The ultimate fix was to prevent the divide by zero destroying the calculation of the remaining good quantities, but as a temporary fix I tried to edit the output CSV files and then tried to fo

[2022-05-31 07:06] DavidPCoster commented on #370
Do you want to do this?  Or should I attempt this?

[2022-05-31 08:33] wedeling commented on #368
Hi @kbronik2017

Where do you get negative values? in `sampler._samples`?

[2022-05-31 11:11] kbronik2017 commented on #368
Yes it is, if you add  for example "print" statement after the following line:

self._samples = self.distribution.inv(dist_U.fwd(nodes.transpose()))

print("self._samples")

it will print the negative samples

[2022-05-31 11:13] kbronik2017 commented on #368
print("samples:", self._samples)

[2022-05-31 12:48] orbitfold commented on #370
Should be done in #371

[2022-05-31 13:15] #370 closed, assigned to orbitfold

[2022-05-31 15:02] wedeling commented on #368
If I execute this:

[code]

I obtain:

[code]

So no negative values. What is your version of ChaosPy?

However, the other obvious problem is that the resulting samples are not discrete. If I check the chaospy documentation, it seems that the DiscreteUniform variables are still treated as continuous under the hood:

[code]

So the inverse transform (which is also used in the QMCSampler) returns no

[2022-05-31 15:26] wedeling opened #372 "We could merge the QMCSampler and MC sampler"
The QMCSampler does not work with `DiscreteUniform` inputs, and I see no apparent way of fixing this, see https://github.com/UCL-CCS/EasyVVUQ/issues/368. In short, the problem lies with the external subroutine from `SALib`, which generates the Saltelli sampling plan, and with the inverse transform of `DiscreteUniform` in chaospy, which generates non-integer values.

The MCSampler has a built-in Sa

[2022-05-31 15:52] DavidPCoster commented on #372
If we have two routines offering the same functionality for no good reason, then I think it makes sense to remove one of them.  And then I think it makes sense to remove the one that introduces an additional dependency.

Would it make sense to add a "deprecation" output message to the QMCSampler routine at this release and then remove it at the next release?  And update the documentation saying to

[2022-05-31 17:02] kbronik2017 commented on #368
Hi,

Thank you (and non-integer values, yes, I forgot to mention it as well, thank you for pointing that out), actually, the settings were exactly as the  follows (which did results in negative samples, version of ChaosPy==4.3.2)

params = {
"Rayleigh": {"type": "integer", "min": 0, "max": 2000, "default": 1},
"Prandtl": {"type": "integer", "min": 0, "max": 8, "default": 7},
"DiffusionCoefficient"

[2022-06-01 11:25] orbitfold commented on #369
Is it not possible to do 2. as part of an EasyVVUQ workflow?

[2022-06-01 11:31] DavidPCoster commented on #369
In principle, yes.  In practise, no.

While parts could be automated with a script do all of 1, 2 & 3, the decision whether to continue runs is still made manually.

It is also useful to re-use the existing runs, just changing the QOIs which involves running a very small analysis code that transforms the large amount of data output from SOLPS into a different output.csv file.

[2022-06-01 11:35] DavidPCoster commented on #369
In the particular case it takes about 1 weeks to run the SOLPS cases.  In other cases it might take months -- which would require that the EasuVVUQ driver needs to be hanging around for that length of time (which cannot be guaranteed given the systems people wanting to install security patches periodically)

[2022-06-01 12:14] orbitfold commented on #369
The basic idea would be as follows - create an actions chain that does the first part and a separate one that does the third part. Set the first part as active_app, run execute. Then set the third part as active_app and run execute again. The first chain will do the set-up. The second chain decoding, etc. In between do your thing. There might be some finer details I am missing but I've tested this

[2022-06-01 12:19] orbitfold commented on #372
The less code in the repository the better.

[2022-06-01 13:35] DavidPCoster commented on #369
I tried that:

[code]

and I then tried a second block (new program)

[code]
but was not able to get this to work ...

[2022-06-01 13:37] orbitfold commented on #369
well it needs to work, so we need to figure out why that is and how to prevent it

[2022-06-01 13:45] orbitfold commented on #369
What exactly doesn't work? Looking at the code again I see that I've added changes precisely for this case (for example the run status will only be set to collated after the Decode action is executed).

[2022-06-01 14:22] DavidPCoster commented on #369
My recollection is that it wasn't clear how to tell the system that the actions had to be replaced with a new set of actions ...

[2022-06-01 14:29] orbitfold commented on #369
Simplest way is to use the "replace_actions" method of the Campaign. It is by itself hacky but simple.

https://github.com/UCL-CCS/EasyVVUQ/blob/efa979589c58e844853c3d8dcafbc1f53f29f28c/easyvvuq/campaign.py#L270

[2022-06-01 15:24] DavidPCoster commented on #369
I would have sworn that I tried that and it didn't work -- but I have just tried it again and it worked!

Thanks!

[2022-06-07 08:07] djgroen commented on #372
Hi all. I'm strongly in favour of this merge too, so feel free to  go ahead with it!

[2022-11-07 11:53] joconnor22 opened #375 "Analysis of Multiple QOIs with Dimension-Adaptive Sparse Grids"
Hi

Thanks everyone for your work in maintaining this package.

I'm doing some work with the dimension-adaptive sparse grid sampling for a turbulent channel-flow problem. Everything seems to be working fine up until I get to the analysis part. A brief description of the problem is given below.

The quantities that I'm interested in are the friction Reynolds number, which is a scalar value, and som